[KCM Locale]
Name=Turkish
Name[af]=Turkse
Name[ar]=التّركيّة
Name[as]=টুৰকিশ্ব
Name[az]=Türk dilində
Name[be]=Турэцкая
Name[be@latin]=Tureckaja
Name[bg]=Турски
Name[bn]=তুর্কী
Name[bn_IN]=তুর্কি
Name[br]=Turkeg
Name[bs]=turski
Name[ca]=Turc
Name[ca@valencia]=Turc
Name[cs]=Turecký
Name[csb]=Tërecczi
Name[cy]=Twrceg
Name[da]=Tyrkisk
Name[de]=Türkisch
Name[el]=Τουρκικά
Name[en_GB]=Turkish
Name[eo]=Turka
Name[es]=Turco
Name[et]=Türgi
Name[eu]=Turkiera
Name[fa]=ترکی
Name[fi]=Turkki
Name[fr]=Turc
Name[fy]=Turks
Name[ga]=Tuircis
Name[gd]=Turcais
Name[gl]=Turco
Name[gu]=તુર્કીશ
Name[he]=טורקית
Name[hi]=तुर्की
Name[hne]=तुर्की
Name[hr]=Turski
Name[hsb]=Turkowsce
Name[hu]=Török
Name[ia]=Turco
Name[id]=Turki
Name[is]=Tyrkneska
Name[it]=Turco
Name[ja]=トルコ語
Name[ka]=თურქული
Name[kk]=Түрікше
Name[km]=ទួរគី
Name[kn]=ತುರ್ಕಿಶ್
Name[ko]=튀르키예어
Name[ku]=Tirkî
Name[lb]=Türkesch
Name[lt]=Turkų
Name[lv]=Turku
Name[mai]=तुर्की
Name[mk]=Турски
Name[ml]=തുര്‍ക്കിഷ്
Name[mr]=तुर्किश
Name[ms]=Turki
Name[nb]=Tyrkisk
Name[nds]=Törksch
Name[ne]=तुर्किस
Name[nl]=Turks
Name[nn]=Tyrkisk
Name[oc]=Turc
Name[or]=ତୁରକିସ
Name[pa]=ਤੁਰਕੀ
Name[pl]=Turecki
Name[ps]=ترکي
Name[pt]=Turco
Name[pt_BR]=Turco
Name[ro]=Turcă
Name[ru]=Турецкий
Name[se]=Turkkagiella
Name[si]=තුර්කි
Name[sk]=Turečtina
Name[sl]=Turščina
Name[sq]=Turqisht
Name[sr]=турски
Name[sr@ijekavian]=турски
Name[sr@ijekavianlatin]=turski
Name[sr@latin]=turski
Name[sv]=Turkiska
Name[ta]=துருக்கியம்
Name[te]=టర్కిష్
Name[tg]=Туркӣ
Name[th]=ภาษาตุรกี
Name[tr]=Türkçe
Name[tt]=Төрек
Name[ug]=تۈركچە
Name[uk]=Турецька
Name[uz]=Turkcha
Name[uz@cyrillic]=Туркча
Name[vi]=Tiếng Thổ Nhĩ Kì
Name[wa]=Turk
Name[xh]=Turkish
Name[x-test]=xxTurkishxx
Name[zh_CN]=土耳其语
Name[zh_HK]=土耳其語
Name[zh_TW]=土耳其語
