
.sidebar {
    margin: 0;
    padding-top: 2em;
    padding-left: 1.4em;
}

.sidebar ul {
    padding-left: 0;
    padding-right: 0;
}

.sidebar li {
    list-style: none;
}

.sidebar li.sidebarHeading {
    margin-top: 1.4em;
    color: #a2a2a2;
}

.book .titlepage .releaseinfo {
    color: #666666;
}
