
.sidebar {
    margin-top: 2em;
    margin-left: 1.4em;
    margin-right: 1.4em;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
    position: absolute;
    top: 0;
    left: 12em;
}

.sidebar ul {
    padding-left: 0;
    padding-right: 0;
}

.sidebar li {
    list-style: none;
}

.sidebar li.sidebarHeading {
    margin-top: 1.4em;
    color: #a2a2a2;
}

.book .titlepage .releaseinfo {
    color: #666666;
}
