
body {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

a {
    text-decoration: none;
    border-bottom: dotted 1px;
    /*outline: none;*/
}

p {
   /* ensure paragraphs remain close to their parent heading */
   margin-top: 0;
   margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
    /* ensure paragraphs remain close to their parent heading */
    margin-bottom: 0.2em;
    color: #4a9935;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 110%;
}

.chapter h1 {
    margin-bottom: 1.0em;
}

.appendix h1 {
    margin-bottom: 1.0em;
}

.section h2 {
    font-size: 130%;
    margin-top: 1.4em;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
    color: inherit;
}
