[KCM Locale]
Name=Dutch
Name[af]=Hollandse
Name[ar]=الهولنديّة
Name[as]=ডাচ্‌
Name[az]=Holland dilində
Name[be]=Галандская
Name[be@latin]=Halandskaja
Name[bg]=Холандски
Name[bn]=ওলন্দাজ
Name[bn_IN]=ডাচ
Name[br]=Nederlandeg
Name[bs]=holandski
Name[ca]=Neerlandès
Name[ca@valencia]=Neerlandés
Name[cs]=Nizozemský
Name[csb]=Hòlandzczi
Name[cy]=Iseldireg
Name[da]=Hollandsk
Name[de]=Niederländisch
Name[el]=Ολλανδικά
Name[en_GB]=Dutch
Name[eo]=Nederlanda
Name[es]=Holandés
Name[et]=Hollandi
Name[eu]=Nederlandera
Name[fa]=هلندی
Name[fi]=Hollanti
Name[fr]=Hollandais
Name[fy]=Nederlânsk
Name[ga]=Ollainnis
Name[gd]=Duitsis
Name[gl]=Neerlandés
Name[gu]=ડચ
Name[he]=הולנדית
Name[hi]=डच
Name[hne]=डच
Name[hr]=Nizozemski
Name[hsb]=Nižozemsce
Name[hu]=Holland
Name[ia]=Hollandese 
Name[id]=Belanda
Name[is]=Hollenska
Name[it]=Neerlandese
Name[ja]=オランダ語
Name[ka]=ჰოლანდიური
Name[kk]=Нидреландша
Name[km]=ហុល្លង់
Name[kn]=ಡಚ್
Name[ko]=네덜란드어
Name[ku]=Holendî
Name[lb]=Hollännesch
Name[lt]=Olandų
Name[lv]=Holandiešu
Name[mai]=डच
Name[mk]=Холандски
Name[ml]=ഡച്ച്
Name[mr]=डच
Name[ms]=Belanda
Name[nb]=Nederlandsk
Name[nds]=Nedderlannsch
Name[ne]=डच
Name[nl]=Nederlands
Name[nn]=Nederlandsk
Name[oc]=Olandés
Name[or]=ଡଚ
Name[pa]=ਡੱਚ
Name[pl]=Holenderski
Name[ps]=ډچ
Name[pt]=Holandês
Name[pt_BR]=Holandês
Name[ro]=Olandeză
Name[ru]=Голландский
Name[se]=Hollánddagiella
Name[si]=නෙදර්ලන්තානු
Name[sk]=Holandčina
Name[sl]=Nizozemščina
Name[sq]=Holandisht
Name[sr]=холандски
Name[sr@ijekavian]=холандски
Name[sr@ijekavianlatin]=holandski
Name[sr@latin]=holandski
Name[sv]=Holländska
Name[ta]=டச்சு
Name[te]=డచ్
Name[tg]=Голландӣ
Name[th]=ภาษาดัทช์
Name[tr]=Hollandaca
Name[tt]=Голланд
Name[ug]=گوللاندىيەچە
Name[uk]=Голландська
Name[uz]=Gollandcha
Name[uz@cyrillic]=Голландча
Name[vi]=Tiếng Hà Lan
Name[wa]=Neyerlandès
Name[xh]=Dutch
Name[x-test]=xxDutchxx
Name[zh_CN]=荷兰语
Name[zh_HK]=荷蘭語
Name[zh_TW]=荷蘭語
