[KCM Locale]
Name=Low Saxon
Name[af]=Lae Saxon
Name[ar]=السّكسونيّة المنخفضة
Name[as]=ল' ছাক্সন
Name[az]=Aşağı Sakson dilində
Name[be]=Ніжнясаксонская
Name[be@latin]=Nižniasaksonskaja
Name[bg]=Долносаксонски
Name[bn]=লো স্যাক্সন
Name[bn_IN]=লো স্যাক্সন
Name[br]=Saozeg izel
Name[bs]=donjosaksonski
Name[ca]=Baix Saxó
Name[ca@valencia]=Baix Saxó
Name[cs]=Dolnosaský
Name[csb]=Dólnosaksońsczi
Name[cy]=Sacsoneg Isel
Name[da]=Nedersaksisk
Name[de]=Niederdeutsch
Name[el]=Κάτω Σαξονικά
Name[en_GB]=Low Saxon
Name[eo]=Malalta saksa
Name[es]=Bajo sajón
Name[et]=Alamsaksi
Name[eu]=Behe saxoiera
Name[fa]=ساکسون سفلی
Name[fi]=Alasaksa
Name[fr]=Bas saxon
Name[fy]=Neder Saksysk
Name[ga]=Sacsainis Íochtarach
Name[gd]=Sagsannais Ìochdarach
Name[gl]=Baixo saxón
Name[gu]=નીચું સેક્સોન
Name[he]=סקסונית תחתית
Name[hi]=लो सेक्सन
Name[hne]=लो सेक्सन
Name[hr]=Donjosaksonski
Name[hsb]=Delnjosaksce
Name[hu]=Alsó-szász
Name[ia]=Basso Saxone
Name[id]=Saxon Rendah
Name[is]=Neðri-saxneska
Name[it]=Basso sassone
Name[ja]=低ザクセン語
Name[ka]=ქვედა საქსონია
Name[kk]=Төмен саксонша
Name[km]=ឡូសាក់សុង
Name[kn]=ಕೆಳ ಸಾಕ್ಸನ್
Name[ko]=저지 독일어
Name[ku]=Saksoniya Jêrîn
Name[lb]=Niddersächsesch
Name[lt]=Žemutinių saksonų
Name[lv]=Lejas sakšu
Name[mai]=लो सेक्सन
Name[mk]=Долно саксонски
Name[ml]=ലോ സാക്സണ്‍
Name[mr]=लो सॅक्सन
Name[ms]=Low Saxon
Name[nb]=Nedersaksisk
Name[nds]=Plattdüütsch
Name[ne]=लो सक्सोन
Name[nl]=Nedersaksisch
Name[nn]=Lågtysk
Name[or]=ତଳ ସେସ୍କନ
Name[pa]=ਲੋਵ ਲਵੋਨ
Name[pl]=Dolnosaksoński
Name[ps]=ښکته سېګسن
Name[pt]=Baixo-Saxão
Name[pt_BR]=Baixo Saxão
Name[ro]=Saxonă de jos
Name[ru]=Нижнесаксонский
Name[se]=Vuolle sáksalaš
Name[si]=පහල සැක්සන්
Name[sk]=Dolná saština
Name[sl]=Spodnja saščina
Name[sq]=Saksonisht e Ulët
Name[sr]=доњосаксонски
Name[sr@ijekavian]=доњосаксонски
Name[sr@ijekavianlatin]=donjosaksonski
Name[sr@latin]=donjosaksonski
Name[sv]=Lågsaxiska
Name[ta]=லோ சாக்ஸான்
Name[te]=లో సాక్సన్
Name[tg]=Саксонии Поёнӣ
Name[th]=ภาษาเยอรมัน ระดับล่าง
Name[tr]=Aşağı Saksonca
Name[tt]=Аскы Саксон
Name[ug]=تۆۋەن ساكسونچە
Name[uk]=Нижньосаксонська
Name[uz]=Past Saksoncha
Name[uz@cyrillic]=Паст Саксонча
Name[vi]=Tiếng Hạ Đức
Name[wa]=Bas sacson
Name[x-test]=xxLow Saxonxx
Name[zh_CN]=下撒克逊语
Name[zh_HK]=低地薩克遜語
Name[zh_TW]=下薩克遜語
