[KCM Locale]
Name=Korean
Name[af]=Koriaanse
Name[ar]=الكوريّة
Name[as]=ক'ৰীয়
Name[az]=Koreya dilində
Name[be]=Карэйская
Name[be@latin]=Karejskaja
Name[bg]=Корейски
Name[bn]=কোরীয়
Name[bn_IN]=কোরিয়ান
Name[br]=Koreeg
Name[bs]=korejski
Name[ca]=Coreà
Name[ca@valencia]=Coreà
Name[cs]=Korejský
Name[csb]=Kòrejańsczi
Name[cy]=Corieg
Name[da]=Koreansk
Name[de]=Koreanisch
Name[el]=Κορεατικά
Name[en_GB]=Korean
Name[eo]=Korea
Name[es]=Coreano
Name[et]=Korea
Name[eu]=Koreera
Name[fa]=کره‌ای
Name[fi]=Korea
Name[fr]=Coréen
Name[fy]=Koareaansk
Name[ga]=Cóiréis
Name[gd]=Coireanais
Name[gl]=Coreano
Name[gu]=કોરીયન
Name[he]=קוריאנית
Name[hi]=कोरियाई
Name[hne]=कोरियाई
Name[hr]=Korejski
Name[hsb]=Koreansce
Name[hu]=Koreai
Name[ia]=Coreano 
Name[id]=Korea
Name[is]=Kóreska
Name[it]=Coreano
Name[ja]=韓国語・朝鮮語
Name[ka]=კორეული
Name[kk]=Корейше
Name[km]=កូរ៉េ
Name[kn]=ಕೊೋರಿಯನ್
Name[ko]=한국어
Name[ku]=Koreyî
Name[lb]=Koreanesch
Name[lt]=Korėjiečių
Name[lv]=Korejiešu
Name[mai]=कोरियाइ
Name[mk]=Корејски
Name[ml]=കൊറിയന്‍
Name[mr]=कोरियन
Name[ms]=Korea
Name[nb]=Koreansk
Name[nds]=Koreaansch
Name[ne]=कोरियाली
Name[nl]=Koreaans
Name[nn]=Koreansk
Name[oc]=Corean
Name[or]=କୋରିୟନ
Name[pa]=ਕੋਰੀਆਈ
Name[pl]=Koreański
Name[ps]=کوريايي
Name[pt]=Coreano
Name[pt_BR]=Coreano
Name[ro]=Coreeană
Name[ru]=Корейский
Name[se]=Koreagiella
Name[si]=කොරියානු
Name[sk]=Kórejčina
Name[sl]=Korejščina
Name[sq]=Koreanisht
Name[sr]=корејски
Name[sr@ijekavian]=корејски
Name[sr@ijekavianlatin]=korejski
Name[sr@latin]=korejski
Name[sv]=Koreanska
Name[ta]=கொரியன்
Name[te]=కొరియన్
Name[tg]=Кореягӣ
Name[th]=ภาษาเกาหลี
Name[tr]=Korece
Name[tt]=Корея
Name[ug]=كورېيەچە
Name[uk]=Корейська
Name[uz]=Koreyscha
Name[uz@cyrillic]=Корейсча
Name[vi]=Tiếng Hàn
Name[wa]=Coreyin
Name[xh]=Korean
Name[x-test]=xxKoreanxx
Name[zh_CN]=朝鲜语
Name[zh_HK]=朝鮮語
Name[zh_TW]=朝鮮語
