# Execution team
subprojects/base-annotations/       @gradle/execution
subprojects/functional/             @gradle/execution @bamboo
subprojects/build-cache/            @gradle/execution
subprojects/build-cache-base/       @gradle/execution
subprojects/build-cache-http/       @gradle/execution
subprojects/build-cache-packaging/  @gradle/execution
subprojects/build-operations/       @gradle/execution
subprojects/execution/              @gradle/execution
subprojects/file-watching/          @gradle/execution
subprojects/files/                  @gradle/execution
subprojects/hashing/                @gradle/execution
subprojects/normalization-java/     @gradle/execution
subprojects/snapshots/              @gradle/execution

# Gradle Enterprise
subprojects/enterprise/             @ldaley @gradle/ge-test-distribution @gradle/ge-build-insights
subprojects/enterprise-logging/     @gradle/ge-build-insights @gradle/ge-test-distribution
subprojects/enterprise-operations/  @gradle/ge-build-insights
subprojects/enterprise-workers/     @gradle/ge-build-insights

# Testing
subprojects/testing-junit-platform/ @gradle/ge-test-distribution
subprojects/testing-jvm/            @gradle/ge-test-distribution

# Release notes
subprojects/docs/src/docs/release/notes.md @pioterj
