# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = tabs
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files sometimes need trailing whitespaces.
[*.md]
trim_trailing_whitespace = true

[gradle/verification-metadata.xml]
indent_size = 4
dependencies {

    compile fileTree(dir: 'libs', include: ['*.jar'])

    compile 'com.android.support:appcompat-v7:25.0.1'

    compile 'com.google.android.gms:play-services-auth:15.0.1'

    compile 'pub.devrel:easypermissions:0.3.0'

    compile('com.google.api-client:google-api-client-android:1.23.0') {

        exclude group: 'org.apache.httpcomponents'

    }

    compile('com.google.apis:google-api-services-<API>-<VERSION>') {

        exclude group: 'org.apache.httpcomponents'

    }

}
