# Gradle
# ------
.gradle
/build
/*/build
/*/*/build
/*/*/*/build
/*/*/*/*/*/build
/**/docs/src/samples/**/build
/**/docs/src/snippets/**/build
/*/internal-android-performance-testing/build-android-libs
test-splits/
/gradle/verification-keyring.gpg

# Kotlin
# ------
.kotlin

# IDEA
# ----
!/.idea
/.idea/*
# Needed to track entry points and nullability annotations (see https://youtrack.jetbrains.com/issue/IDEA-354114 and https://youtrack.jetbrains.com/issue/IDEA-354115)
!/.idea/misc.xml
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/icon.png
!/.idea/icon_dark.png
*/**/.idea
*/**/.shelf
.shelf
/*.iml
/*/*.iml
/*/*/*.iml
/*/*/*/*.iml
/*/*/*/*/*.iml
/out
/*/out
/*/*/out
/*/*/*/out
/*/*/*/*/out
/.teamcity/target
/gradle.ipr
/gradle.iws

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
.metadata/

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[nop]

# Emacs
# -----
*~
\#*\#
.\#*

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# macOS
# ----
.DS_Store

# HPROF
# -----
*.hprof

# Work dirs
# ---------
/incoming-distributions
/intTestHomeDir

# Logs
# ----
/*.log

# Thread dumps for troubleshooting
*.threaddump
# ps output for cleaning up leaking Java processes
*.psoutput

# oh-my-zsh gradle plugin
.gradletasknamecache

# Added GE support maven support to the maven build in .teamcity, per the GE docs, this dir is NOT to be committed
.teamcity/.mvn/.develocity/
/discoclient.properties

# Ignore local configuration files for asdf, allowing the JDK to be configured for project (https://asdf-vm.com)
.tool-versions
