* text eol=lf

#
# The above will handle all files NOT found below
# https://help.github.com/articles/dealing-with-line-endings/
# https://github.com/Danimoth/gitattributes

# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# These files are text and should be normalized (Convert crlf => lf)
*.bash          text eol=lf
*.css           text diff=css
*.htm           text diff=html
*.html          text diff=html
*.java          text diff=java
*.sh            text eol=lf


# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.a             binary
*.lib           binary
*.icns          binary
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.mov           binary
*.mp4           binary
*.mp3           binary
*.flv           binary
*.fla           binary
*.swf           binary
*.gz            binary
*.zip           binary
*.jar           binary
*.tar           binary
*.tar.gz        binary
*.7z            binary
*.ttf           binary
*.pyc           binary
*.gpg           binary
