# Gradle
# ------
.gradle
/build
/*/build
/*/*/build
/*/*/*/build
/*/*/*/*/build
/*/docs/src/samples/**/build
/*/docs/src/snippets/**/build
/*/internal-android-performance-testing/build-android-libs
test-splits/
/gradle/verification-keyring.gpg

# IDEA
# ----
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/icon.png
!/.idea/icon_dark.png
*/**/.idea
*/**/.shelf
.shelf
/*.iml
/*/*.iml
/*/*/*.iml
/*/*/*/*.iml
/*/*/*/*/*.iml
/out
/*/out
/*/*/out
/*/*/*/out
/*/*/*/*/out
/.teamcity/target
/gradle.ipr
/gradle.iws

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
.metadata/

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[nop]

# Emacs
# -----
*~
\#*\#
.\#*

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# macOS
# ----
.DS_Store

# HPROF
# -----
*.hprof

# Work dirs
# ---------
/incoming-distributions
/intTestHomeDir

# Logs
# ----
/*.log

# Thread dumps for troubleshooting
*.threaddump
# ps output for cleaning up leaking Java processes
*.psoutput

# oh-my-zsh gradle plugin
.gradletasknamecache

# Added GE support maven support to the maven build in .teamcity, per the GE docs, this dir is NOT to be committed
.teamcity/.mvn/.gradle-enterprise/
/discoclient.properties

# Ignore local configuration files for asdf, allowing the JDK to be configured for project (https://asdf-vm.com)
.tool-versions
/lib/groovy-5.0.0-alpha-1.jar
/lib/groovy-5.0.0-alpha-1-sources.jar
/lib/groovy-ant-5.0.0-alpha-1.jar
/lib/groovy-ant-5.0.0-alpha-1-sources.jar
/lib/groovy-astbuilder-5.0.0-alpha-1.jar
/lib/groovy-astbuilder-5.0.0-alpha-1-sources.jar
/lib/groovy-cli-commons-5.0.0-alpha-1.jar
/lib/groovy-cli-commons-5.0.0-alpha-1-sources.jar
/lib/groovy-cli-picocli-5.0.0-alpha-1.jar
/lib/groovy-cli-picocli-5.0.0-alpha-1-sources.jar
/lib/groovy-console-5.0.0-alpha-1.jar
/lib/groovy-console-5.0.0-alpha-1-sources.jar
/lib/groovy-contracts-5.0.0-alpha-1.jar
/lib/groovy-contracts-5.0.0-alpha-1-sources.jar
/lib/groovy-datetime-5.0.0-alpha-1.jar
/lib/groovy-datetime-5.0.0-alpha-1-sources.jar
/lib/groovy-dateutil-5.0.0-alpha-1.jar
/lib/groovy-dateutil-5.0.0-alpha-1-sources.jar
/lib/groovy-docgenerator-5.0.0-alpha-1.jar
/lib/groovy-docgenerator-5.0.0-alpha-1-sources.jar
/lib/groovy-ginq-5.0.0-alpha-1.jar
/lib/groovy-ginq-5.0.0-alpha-1-sources.jar
/lib/groovy-groovydoc-5.0.0-alpha-1.jar
/lib/groovy-groovydoc-5.0.0-alpha-1-sources.jar
/lib/groovy-groovysh-5.0.0-alpha-1.jar
/lib/groovy-groovysh-5.0.0-alpha-1-sources.jar
/lib/groovy-jmx-5.0.0-alpha-1.jar
/lib/groovy-jmx-5.0.0-alpha-1-sources.jar
/lib/groovy-json-5.0.0-alpha-1.jar
/lib/groovy-json-5.0.0-alpha-1-sources.jar
/lib/groovy-jsr223-5.0.0-alpha-1.jar
/lib/groovy-jsr223-5.0.0-alpha-1-sources.jar
/lib/groovy-macro-5.0.0-alpha-1.jar
/lib/groovy-macro-5.0.0-alpha-1-sources.jar
/lib/groovy-macro-library-5.0.0-alpha-1.jar
/lib/groovy-macro-library-5.0.0-alpha-1-sources.jar
/lib/groovy-nio-5.0.0-alpha-1.jar
/lib/groovy-nio-5.0.0-alpha-1-sources.jar
/lib/groovy-servlet-5.0.0-alpha-1.jar
/lib/groovy-servlet-5.0.0-alpha-1-sources.jar
/lib/groovy-sql-5.0.0-alpha-1.jar
/lib/groovy-sql-5.0.0-alpha-1-sources.jar
/lib/groovy-swing-5.0.0-alpha-1.jar
/lib/groovy-swing-5.0.0-alpha-1-sources.jar
/lib/groovy-templates-5.0.0-alpha-1.jar
/lib/groovy-templates-5.0.0-alpha-1-sources.jar
/lib/groovy-test-5.0.0-alpha-1.jar
/lib/groovy-test-5.0.0-alpha-1-sources.jar
/lib/groovy-test-junit5-5.0.0-alpha-1.jar
/lib/groovy-test-junit5-5.0.0-alpha-1-sources.jar
/lib/groovy-testng-5.0.0-alpha-1.jar
/lib/groovy-testng-5.0.0-alpha-1-sources.jar
/lib/groovy-toml-5.0.0-alpha-1.jar
/lib/groovy-toml-5.0.0-alpha-1-sources.jar
/lib/groovy-typecheckers-5.0.0-alpha-1.jar
/lib/groovy-typecheckers-5.0.0-alpha-1-sources.jar
/lib/groovy-xml-5.0.0-alpha-1.jar
/lib/groovy-xml-5.0.0-alpha-1-sources.jar
