*~
.gradle
/build
/out
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/website/build
/website/website.iml
/website/website.ipr
/website/website.iws
/performanceTest/build
/subprojects/*/ide
/*.iml
/*.ipr
/*.iws
/subprojects/*/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/*.iml
/buildSrc/out
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
*.sublime-*
.nb-gradle
