Adam Murdoch <adam@gradle.com> <Adam@Adam-PC.(none)>
Adam Murdoch <adam@gradle.com> <a@rubygrapefruit.net>
Adam Murdoch <adam@gradle.com> <adam.murdoch@gradleware.com>
Adam Murdoch <adam@gradle.com> <adam@gradle.biz>
Adrian Kelly <adrian@gradle.com> <adrianbkelly@gmail.com>
Benjamin Muschko <ben@gradle.com> <benjamin.muschko@gmail.com>
Cedric Champeau <cedric@gradle.com> <cedric.champeau@gradleware.com>
Daz DeBoer <daz@gradle.com>
Daz DeBoer <daz@gradle.com> <darrell.deboer@gradleware.com>
Daz DeBoer <daz@gradle.com> <daz@Darrells-MacBook-Pro.local>
Etienne Studer <etienne@gradle.com> <etienne.studer@gradleware.com>
Gary Hale <gary@gradle.com> <ghhale@computer.org>
Lari Hotari <lari.hotari@gradle.com> <lari.hotari@gradleware.com>
Lari Hotari <lari.hotari@gradle.com> <lhotari@users.noreply.github.com>
Luke Daley <luke@gradle.com> <ld@ldaley.com>
Lóránt Pintér <lorant@gradle.com>
Lóránt Pintér <lorant@gradle.com> <lorant.pinter@gmail.com>
Lóránt Pintér <lorant@gradle.com> <lorant.pinter@prezi.com>
Marcin Erdmann <marcin@gradle.com> <erdi84@gmail.com>
Mark Vieira <mark@gradle.com> <portugee@gmail.com>
Rene Groeschke <rene@gradle.com> <rene.groeschke@gradleware.com>
Rene Groeschke <rene@gradle.com> <rene@breskeby.com>
Sterling Greene <sterling@gradle.com> <big-guy@users.noreply.github.com>
Sterling Greene <sterling@gradle.com> <sterling.greene@gmail.com>
