Adam Murdoch <adam@gradle.com> <Adam@Adam-PC.(none)>
Adam Murdoch <adam@gradle.com> <a@rubygrapefruit.net>
Adam Murdoch <adam@gradle.com> <adam.murdoch@gradleware.com>
Adam Murdoch <adam@gradle.com> <adam@gradle.biz>
Adrian Kelly <adrian@gradle.com> <adrianbkelly@gmail.com>
Benjamin Muschko <ben@gradle.com> <benjamin.muschko@gmail.com>
Cedric Champeau <cedric@gradle.com> <cedric.champeau@gmail.com>
Cedric Champeau <cedric@gradle.com> <cedric.champeau@gradleware.com>
Daz DeBoer <daz@gradle.com>
Daz DeBoer <daz@gradle.com> <darrell.deboer@gradleware.com>
Daz DeBoer <daz@gradle.com> <daz@Darrells-MacBook-Pro.local>
Daz DeBoer <daz@gradle.com> <daz@DazBook.local>
Daz DeBoer <daz@gradle.com> <daz@bigdaz.com>
Etienne Studer <etienne@gradle.com> <etienne.studer@gradleware.com>
Etienne Studer <etienne@gradle.com> <etienne@studer.nu>
Etienne Studer <etienne@gradle.com> <log>
Gary Hale <gary@gradle.com> <ghhale@computer.org>
Hans Dockter <hans@gradle.com>
Hans Dockter <hans@gradle.com> <hans.dockter@gradleware.com>
Hans Dockter <hans@gradle.com> <hans@Hans-Dockters-MacBook-Pro.local>
Hans Dockter <hans@gradle.com> <hans@gradle.biz>
Hans Dockter <hans@gradle.com> <hd@hd-desktop.(none)>
Hans Dockter <hans@gradle.com> <mail@dockter.biz>
Hans Dockter <hans@gradle.com> U-WIN-T79U3J3QLBC\Hans Dockter <Hans Dockter@WIN-T79U3J3QLBC.(none)>
Lari Hotari <lari.hotari@gradle.com> <lari.hotari@gradleware.com>
Lari Hotari <lari.hotari@gradle.com> <lhotari@users.noreply.github.com>
Luke Daley <luke@gradle.com> <ld@ldaley.com>
Lóránt Pintér <lorant@gradle.com>
Lóránt Pintér <lorant@gradle.com> <lorant.pinter@gmail.com>
Lóránt Pintér <lorant@gradle.com> <lorant.pinter@prezi.com>
Marcin Erdmann <marcin@gradle.com> <erdi84@gmail.com>
Mark Vieira <mark@gradle.com> <portugee@gmail.com>
Rene Groeschke <rene@gradle.com> <rene.groeschke@gradleware.com>
Rene Groeschke <rene@gradle.com> <rene@breskeby.com>
Sterling Greene <sterling@gradle.com> <big-guy@users.noreply.github.com>
Sterling Greene <sterling@gradle.com> <sterling.greene@gmail.com>
