language: java

matrix:
  include:
    - os: linux
      sudo: required
      jdk: oraclejdk8
    - os: linux
      sudo: required
      jdk: openjdk8
    - os: linux
      sudo: required
      jdk: oraclejdk9

script: ./gradlew :provider:check --info --stacktrace --console=plain --max-workers=1 --no-daemon -Dkotlin.compiler.execution.strategy="in-process" -Dkotlin.colors.enabled=false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
