# Needs Xmx1600m
runTasks {
    run-using = tooling-api
    daemon = cold
    tasks = ["tasks"]
    warm-ups = 1
    iterations = 1
    system-properties {
       "org.gradle.jvmargs" = "-Xmx1600m"
    }
    gradle-args = [
        "tasks",
    ]
}

runTasksNoCc {
    run-using = tooling-api
    daemon = cold
    tasks = ["tasks"]
    warm-ups = 1
    iterations = 1
    system-properties {
       "org.gradle.jvmargs" = "-Xmx1600m"
    }
    gradle-args = [
        "tasks",
        "--no-configuration-cache"
    ]
}

# Needs Xmx2350m
runSync {
    warm-ups = 1
    iterations = 1
    gradle-args = [
        "org.gradle.jvmargs=-Xmx1600m -XX:MaxMetaspaceSize=768m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8",
        "-Dorg.gradle.ignoreBuildJavaVersionCheck=true"
    ]
    android-studio-sync {
        # Override default Android Studio jvm args
        studio-jvm-args = ["-Xms4096m", "-Xmx15096m"]
        # Pass an IDEA properties to Android Studio. This can be used to set a registry values as well
        idea-properties = ["gradle.tooling.models.parallel.fetch=true"]
    }
}

runSanityCheck {
    run-using = cli
    daemon = cold
    tasks = ["sanityCheck", "--rerun-tasks"]
    warm-ups = 1
    iterations = 1
    system-properties {
       "org.gradle.jvmargs" = "-Xmx3300m"
    }
}
