runTasks {
    run-using = tooling-api
    daemon = cold
    tasks = ["tasks"]
    warm-ups = 1
    iterations = 1
    gradle-args = ["-Dorg.gradle.jvmargs=-Xmx1600m"]
}

runSync {
    warm-ups = 1
    iterations = 1
    gradle-args = ["-Dorg.gradle.jvmargs=-Xmx1600m"]
    android-studio-sync {
        # Override default Android Studio jvm args
        studio-jvm-args = ["-Xms4096m", "-Xmx15096m"]
        # Pass an IDEA properties to Android Studio. This can be used to set a registry values as well
        idea-properties = ["gradle.tooling.models.parallel.fetch=true"]
    }
}
