[KCM Locale]
Name=Latvian
Name[af]=Latvian
Name[ar]=اللاتفيّة
Name[as]=লাট্‌ভিয়ান
Name[az]=Latış dilində
Name[be]=Латышская
Name[be@latin]=Latyšskaja
Name[bg]=Латвийски
Name[bn]=লাটভিয়ান
Name[bn_IN]=লাটভিয়ান
Name[br]=Latvieg
Name[bs]=letonski
Name[ca]=Letó
Name[ca@valencia]=Letó
Name[cs]=Lotyšský
Name[csb]=Łotewsczi
Name[cy]=Latfieg
Name[da]=Lettisk
Name[de]=Lettisch
Name[el]=Λεττονικά
Name[en_GB]=Latvian
Name[eo]=Latvia
Name[es]=Letonio
Name[et]=Läti
Name[eu]=Letoniera
Name[fa]=لتونیایی
Name[fi]=Latvia
Name[fr]=Letton
Name[fy]=Letsk
Name[ga]=Laitvis
Name[gd]=Laitbheis
Name[gl]=Letón
Name[gu]=લેટવિયન
Name[he]=לטבית
Name[hi]=लातवियाई
Name[hne]=लातवियाई
Name[hr]=Latvijski
Name[hsb]=Letisce
Name[hu]=Lett
Name[ia]=Letton
Name[id]=Latvia
Name[is]=Lettneska
Name[it]=Lettone
Name[ja]=ラトビア語
Name[ka]=ლატვიური
Name[kk]=Латвияша
Name[km]=ឡាតវៀ
Name[kn]=ಲಾಟ್ವಿಯನ್
Name[ko]=라트비아어
Name[ku]=Letonî
Name[lb]=Lettesch
Name[lt]=Latvių
Name[lv]=Latviešu
Name[mai]=लातवियाइ
Name[mk]=Латвиски
Name[ml]=ലാത്വിയന്‍
Name[mr]=लातवियाई
Name[ms]=Latvia
Name[nb]=Latvisk
Name[nds]=Lettsch
Name[ne]=लात्भियाली
Name[nl]=Lets
Name[nn]=Latvisk
Name[oc]=Leton
Name[or]=ଲାଟଭିୟନ
Name[pa]=ਲਟਵੀਆਈ
Name[pl]=Łotewski
Name[ps]=لېټوين
Name[pt]=Letão
Name[pt_BR]=Letão
Name[ro]=Letonă
Name[ru]=Латышский
Name[se]=Látviagiella
Name[si]=සලැට්වියානු
Name[sk]=Lotyština
Name[sl]=Latvijščina
Name[sq]=Latvisht
Name[sr]=летонски
Name[sr@ijekavian]=летонски
Name[sr@ijekavianlatin]=letonski
Name[sr@latin]=letonski
Name[sv]=Lettiska
Name[ta]=லட்வியன்
Name[te]=లాతివ్యన్
Name[tg]=Латвиягӣ
Name[th]=ภาษาลัทเวีย
Name[tr]=Letonca
Name[tt]=Латыш
Name[ug]=لاتۋىيەچە
Name[uk]=Латвійська
Name[uz]=Latishcha
Name[uz@cyrillic]=Латишча
Name[vi]=Tiếng Lát-vi-a
Name[wa]=Letonyin
Name[xh]=Latvian
Name[x-test]=xxLatvianxx
Name[zh_CN]=拉脱维亚语
Name[zh_HK]=拉脫維亞語
Name[zh_TW]=拉脫維亞語
