[KCM Locale]
Name=Portuguese
Name[af]=Portugese
Name[ar]=البرتغاليّة
Name[as]=প'ৰ্টুগিছ্‌
Name[az]=Portuqal dilində
Name[be]=Партугальская
Name[be@latin]=Partuhaĺskaja
Name[bg]=Португалски
Name[bn]=পর্তুগীজ
Name[bn_IN]=পোর্তুগিজ
Name[br]=Portugaleg
Name[bs]=portugalski
Name[ca]=Portuguès
Name[ca@valencia]=Portugués
Name[cs]=Portugalský
Name[csb]=Pòrtugalsczi
Name[cy]=Portiwgaleg
Name[da]=Portugisisk
Name[de]=Portugiesisch
Name[el]=Πορτογαλικά
Name[en_GB]=Portuguese
Name[eo]=Portugala
Name[es]=Portugués
Name[et]=Portugali
Name[eu]=Portugesa
Name[fa]=پرتغالی
Name[fi]=Portugali
Name[fr]=Portugais
Name[fy]=Portugeesk
Name[ga]=Portaingéilis
Name[gd]=Portagailis
Name[gl]=Portugués
Name[gu]=પોર્ટુગીઝ
Name[he]=פורטוגזית
Name[hi]=पुर्तगाली
Name[hne]=पुर्तगाली
Name[hr]=Portugalski
Name[hsb]=Portugalsce
Name[hu]=Portugál
Name[ia]=Portugese 
Name[id]=Portugis
Name[is]=Portúgalska
Name[it]=Portoghese
Name[ja]=ポルトガル語
Name[ka]=პორტუგალიური
Name[kk]=Португалша
Name[km]=ព័រទុយហ្គាល់
Name[kn]=ಪೋರ್ಚುಗೀಸ್
Name[ko]=포르투갈어
Name[ku]=Portûgalî
Name[lb]=Portugisesch
Name[lt]=Portugalų
Name[lv]=Portugāļu
Name[mai]=पुर्तगाली
Name[mk]=Португалски
Name[ml]=പോര്‍ച്ചുഗീസ്
Name[mr]=पोर्तुगीज
Name[ms]=Portugis
Name[nb]=Portugisisk
Name[nds]=Portugeesch
Name[ne]=पोर्तुगाली
Name[nl]=Portugees
Name[nn]=Portugisisk
Name[oc]=Portugués
Name[or]=ପର୍ତ୍ତୁଗିଜ
Name[pa]=ਪੁਰਤਗਾਲੀ
Name[pl]=Portugalski
Name[ps]=پورټګيز
Name[pt]=Português
Name[pt_BR]=Português
Name[ro]=Portugheză
Name[ru]=Португальский
Name[se]=Portugálagiella
Name[si]=පෘතුගීසි
Name[sk]=Portugalčina
Name[sl]=Portugalščina
Name[sq]=Portugalisht
Name[sr]=португалски
Name[sr@ijekavian]=португалски
Name[sr@ijekavianlatin]=portugalski
Name[sr@latin]=portugalski
Name[sv]=Portugisiska
Name[ta]=போர்த்துக்கீசிய
Name[te]=పొర్ట్యుగీస్
Name[tg]=Португалӣ
Name[th]=ภาษาโปรตุเกส
Name[tr]=Portekizce
Name[tt]=Португал
Name[ug]=پورتۇگالچە
Name[uk]=Португальська
Name[uz]=Portugalcha
Name[uz@cyrillic]=Португалча
Name[vi]=Tiếng Bồ Đào Nha
Name[wa]=Portuguès
Name[xh]=Portuguese
Name[x-test]=xxPortuguesexx
Name[zh_CN]=葡萄牙语
Name[zh_HK]=葡萄牙語
Name[zh_TW]=葡萄牙語
