html {
    height: 100%;
    min-height: 100%
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%
}

body, td, div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: #7aa76d
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: #7aa76d
}

h3 {
    font-size: 14px;
    font-weight: bold;
    color: #7aa76d
}

a {
    color: #000000
}

a:hover {
    color: #7aa76d;
    text-decoration: none
}

#sidebar {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 180px;
    background: #7aa76d;
    min-height: 100%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

#header {
    background: #7aa76d;
    height: 80px;
    padding-left: 10px;
    color: #FFFFFF;
    clear: both;
    position: relative;
    white-space: nowrap;
}

#header table {
    border-collapse: collapse;
}

#header td {
    line-height: 80px;
    height: 80px;
    vertical-align: baseline;
    padding: 0;
}

#header #quote {
    color: #a8cc9e;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

#header #title {
    color: #a8cc9e;
    font-size: 58px;
    font-weight: bold;
    width: 210px;
}

#header #title a {
    color: inherit;
    text-decoration: none;
}

#header #title .a:hover {
    color: inherit;
}

#content {
    margin-left: 200px;
    background-image: url('../img/roundedCorner.gif');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sidebar .container {
    margin-bottom: 30px;
}

#sidebar .container .headline {
    border: 1px solid #a4cd98;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}

#sidebar .container .entry {
    margin-top: 8px;
}

#sidebar .container .entry a {
    color: #FFFFFF;
    margin-left: 25px;
    text-decoration: none;
}

#sidebar .container .entry a:hover {
    color: #000000;
}

.styledTable {
    border: 1px solid #7aa76d
}

.styledTable .header td {
    background: #959595;
    height: 25px;
    padding: 0px 10px 0px 10px;
    color: #FFFFFF;
    text-align: center
}

.styledTable .row td {
    background: #F4F4F4;
    height: 25px;
    padding: 0px 10px 0px 10px;
}
