html {
    height: 100%;
    min-height: 100%
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%
}

body, td, div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666
}

h1 {
    font-size: 22px;
    font-weight: bold;
    color: #7aa76d
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: #7aa76d
}

h3 {
    font-size: 14px;
    font-weight: bold;
    color: #7aa76d
}

a {
    color: #000000
}

a:hover {
    color: #7aa76d;
    text-decoration: none
}

#sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    background: #7aa76d;
    min-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

#logoImage {
    height: 100px;
    padding-top: 10px;
}

#logoImage a {
    text-decoration: none;
}

#header {
    background: #7aa76d;
    height: 80px;
    color: #FFFFFF;
    clear: both;
}

#header .quote {
    color: #a8cc9e;
    margin-left: 220px;
    line-height: 80px;
    font-size: 22px;
    font-style: italic;
}

#header .attrib {
    color: #a8cc9e;
    font-size: 12px;
    font-weight: normal;
}

#content {
    margin-left: 200px;
    background-image: url('../img/roundedCorner.gif');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sidebar .container {
    margin-bottom: 30px;
}

#sidebar .container .headline {
    border: 1px solid #a4cd98;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}

#sidebar .container .entry {
    margin-top: 8px;
}

#sidebar .container .entry a {
    color: #FFFFFF;
    margin-left: 25px;
    text-decoration: none;
}

#sidebar .container .entry a:hover {
    color: #000000;
}

.styledTable {
    border: 1px solid #7aa76d
}

.styledTable .header td {
    background: #959595;
    height: 25px;
    padding: 0px 10px 0px 10px;
    color: #FFFFFF;
    text-align: center
}

.styledTable .row td {
    background: #F4F4F4;
    height: 25px;
    padding: 0px 10px 0px 10px;
}