[KCM Locale]
Name=Norwegian Bokmål
Name[af]=Noörweese Bokmaal
Name[ar]=النورويجيّة (البوكمال)
Name[as]=ন'ৰ্ৱেইয়ান ব'কমাল
Name[az]=Norveç (ədəbi) dilində
Name[be]=Нарвежская (Букмал)
Name[be@latin]=Narviežskaja (Bukmal)
Name[bg]=Норвежки (букмол)
Name[bn]=নরওয়েজীয় বোকমাল
Name[bn_IN]=নরওয়েজিয়ান বোকমাল
Name[br]=Norvegeg Bokmål
Name[bs]=norveški (književni)
Name[ca]=Noruec bokmål
Name[ca@valencia]=Noruec bokmål
Name[cs]=Norský (Bokmål)
Name[csb]=Norwesczi Bokmål
Name[cy]=Bokmål Norwyeg
Name[da]=Norsk bokmål
Name[de]=Norwegisch (Bokmål)
Name[el]=Νορβηγικά
Name[en_GB]=Norwegian Bokmål
Name[eo]=Norvega (Bokmål)
Name[es]=Noruego Bokmål
Name[et]=Norra Bokmål
Name[eu]=Norvegiera Bokmål
Name[fa]=بوکسمال نروژی
Name[fi]=Norjan bokmål
Name[fr]=Norvégien Bokmål
Name[fy]=Noarsk, Bokmål
Name[ga]=Ioruais (Bokmål)
Name[gd]=Bokmål na Nirribhidh
Name[gl]=Noruegués Bokmål
Name[gu]=નોર્વેયન બોકમલ
Name[he]=נורבגית (Bokmål)
Name[hi]=नार्वेजियाई बोकमाल
Name[hne]=नार्वेजियाई बोकमाल
Name[hr]=Norveški bokmal
Name[hsb]=Norwegsce (Bokmaal)
Name[hu]=Norvég (bokmål)
Name[ia]=Norvegiano Bokmal
Name[id]=Bokmål Norwegia
Name[is]=Norska (bókmál)
Name[it]=Norvegese bokmål
Name[ja]=ノルウェー語 (ブークモール)
Name[ka]=ნორვეგიული ბოკმალი
Name[kk]=Норвег букмалша
Name[km]=ន័រវែស បុកម៉ាល់
Name[kn]=ನಾರ್ವೇಯಿಯನ್ ಬೋಕ್ಮಾಲ್
Name[ko]=노르웨이어(보크몰)
Name[ku]=Norwêcî Bokmal
Name[lb]=Norwegesche Bokmål
Name[lt]=Norvegų (Bokmål)
Name[lv]=Norvēģu (Bokmālas)
Name[mai]=नार्वेजियाई बोकमाल
Name[mk]=Норвешки (Bokmål)
Name[ml]=നോര്‍വീജിയന്‍ ബോക്മാല്‍
Name[mr]=नार्वेजियन बोर्कमाल
Name[ms]=Norwegian Bokmål
Name[nb]=Norsk (bokmål)
Name[nds]=Norweegsch (Bokmål)
Name[ne]=नर्वेली बोकमाल
Name[nl]=Noors Bokmål
Name[nn]=Norsk (bokmål)
Name[oc]=Norvegian Bokmål
Name[or]=ନରୱେୟିନ ବକମଲ
Name[pa]=ਨੋਰਵੀਗੀਅਨ ਬੋਕਮਾਲ
Name[pl]=Norweski Bokmål
Name[ps]=ناروېجني بوکمل
Name[pt]=Norueguês (Bokmål)
Name[pt_BR]=Dano-norueguês
Name[ro]=Norvegiană Bokmål
Name[ru]=Норвежский (литературный)
Name[se]=Girjedárogiella
Name[si]=නොර්වෙජියානු බොක්මාල්
Name[sk]=Nórčina (Bokmål)
Name[sl]=Knjižna norveščina
Name[sr]=норвешки (књижевни)
Name[sr@ijekavian]=норвешки (књижевни)
Name[sr@ijekavianlatin]=norveški (književni)
Name[sr@latin]=norveški (književni)
Name[sv]=Norska Bokmål
Name[ta]=நார்வேயின் போக்மால்
Name[te]=నార్విజియన్ బొక్మాల్
Name[tg]=Норвегиягии Бокмалӣ
Name[th]=ภาษานอร์เวย์ (บ็อคมัล)
Name[tr]=Bokmål Norveççesi
Name[tt]=Норвегия (әдәби)
Name[ug]=بوكمال تىلى؛ بوكمالچە
Name[uk]=Норвезька (Bokmål)
Name[uz]=Norvegcha Bokmaal
Name[uz@cyrillic]=Норвегча Бокмаал
Name[vi]=Tiếng Bokmål Na Uy
Name[wa]=Norvedjin (Bokmål)
Name[x-test]=xxNorwegian Bokmålxx
Name[zh_CN]=挪威博克马尔语
Name[zh_HK]=書面挪威語
Name[zh_TW]=挪威語（博克馬爾語）
