<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/resolution-failure-styles.css">

    <title>Gradle Dependency Resolution Failures</title>
</head>
<img src="img/gradle-logo.png" width="120"/>
    $$REPORT_BODY$$
</html>