[KCM Locale]
Name=Italian
Name[af]=Italiaanse
Name[ar]=الإيطاليّة
Name[as]=ইটালিয়ান
Name[az]=İtalyan dilində
Name[be]=Італьянская
Name[be@latin]=Itaĺjanskaja
Name[bg]=Италиански
Name[bn]=ইতালীয়
Name[bn_IN]=ইটালিয়ান
Name[br]=Italianeg
Name[bs]=italijanski
Name[ca]=Italià
Name[ca@valencia]=Italià
Name[cs]=Italský
Name[csb]=Italsczi
Name[cy]=Eidaleg
Name[da]=Italiensk
Name[de]=Italienisch
Name[el]=Ιταλικά
Name[en_GB]=Italian
Name[eo]=Itala
Name[es]=Italiano
Name[et]=Itaalia
Name[eu]=Italiera
Name[fa]=ایتالیایی
Name[fi]=Italia
Name[fr]=Italien
Name[fy]=Italiaansk
Name[ga]=Iodáilis
Name[gd]=Eadailtis
Name[gl]=Italiano
Name[gu]=ઈટાલીયન
Name[he]=איטלקית
Name[hi]=इतालवी
Name[hne]=इतालवी
Name[hr]=Talijanski
Name[hsb]=Italsce
Name[hu]=Olasz
Name[ia]=Italiano 
Name[id]=Italia
Name[is]=Ítalska
Name[it]=Italiano
Name[ja]=イタリア語
Name[ka]=იტალიური
Name[kk]=Итальянша
Name[km]=អ៊ីតាលី
Name[kn]=ಇಟಾಲಿಯನ್
Name[ko]=이탈리아어
Name[ku]=Îtalî
Name[lb]=Italienesch
Name[lt]=Italų
Name[lv]=Itāļu
Name[mai]=इतालवी
Name[mk]=Италијански
Name[ml]=ഇറ്റാലിയന്‍
Name[mr]=इतालवी
Name[ms]=Italia
Name[nb]=Italiensk
Name[nds]=Italieensch
Name[ne]=इटालियन
Name[nl]=Italiaans
Name[nn]=Italiensk
Name[oc]=Italian
Name[or]=ଇଟାଲିୟନ
Name[pa]=ਇਤਾਲਵੀ
Name[pl]=Włoski
Name[ps]=اېټالوي
Name[pt]=Italiano
Name[pt_BR]=Italiano
Name[ro]=Italiană
Name[ru]=Итальянский
Name[se]=Italiágiella
Name[si]=ඉතාලි
Name[sk]=Taliančina
Name[sl]=Italijanščina
Name[sq]=Italisht
Name[sr]=италијански
Name[sr@ijekavian]=италијански
Name[sr@ijekavianlatin]=italijanski
Name[sr@latin]=italijanski
Name[sv]=Italienska
Name[ta]=இத்தாலியன்
Name[te]=ఇటాలియన్
Name[tg]=Итолиёӣ
Name[th]=ภาษาอิตาเลียน
Name[tr]=İtalyanca
Name[tt]=Итальян
Name[ug]=ئىتاليانچە
Name[uk]=Італійська
Name[uz]=Italyancha
Name[uz@cyrillic]=Италянча
Name[vi]=Tiếng Ý
Name[wa]=Itålyin
Name[xh]=isitaliyane
Name[x-test]=xxItalianxx
Name[zh_CN]=意大利语
Name[zh_HK]=意大利語
Name[zh_TW]=意大利語
