[KCM Locale]
Name=Hungarian
Name[af]=Hongaarse
Name[ar]=المجريّة
Name[as]=হাঙ্গেৰিয়ান
Name[az]=Macar dilində
Name[be]=Венгерская
Name[be@latin]=Vienhierskaja
Name[bg]=Унгарски
Name[bn]=হাঙ্গারীয়
Name[bn_IN]=হাঙ্গেরিয়ান
Name[br]=Hungareg
Name[bs]=mađarski
Name[ca]=Hongarès
Name[ca@valencia]=Hongarés
Name[cs]=Maďarský
Name[csb]=Madżarsczi
Name[cy]=Hwngareg
Name[da]=Ungarsk
Name[de]=Ungarisch
Name[el]=Ουγγρικά
Name[en_GB]=Hungarian
Name[eo]=Hungara
Name[es]=Húngaro
Name[et]=Ungari
Name[eu]=Hungariera
Name[fa]=مجاری
Name[fi]=Unkari
Name[fr]=Hongrois
Name[fy]=Hongaarsk
Name[ga]=Ungáiris
Name[gd]=Ungairis
Name[gl]=Húngaro
Name[gu]=હંગેરિયન
Name[he]=הונגרית
Name[hi]=हंगेरियाई
Name[hne]=हंगेरियाई
Name[hr]=Mađarski
Name[hsb]=Madźarsce
Name[hu]=Magyar
Name[ia]=Hungaro 
Name[id]=Hungaria
Name[is]=Ungverska
Name[it]=Ungherese
Name[ja]=ハンガリー語
Name[ka]=უნგრული
Name[kk]=Мажарша
Name[km]=ហុងគ្រី
Name[kn]=ಹಂಗೇರಿಯನ್
Name[ko]=헝가리어
Name[ku]=Macarî
Name[lb]=Ungaresch
Name[lt]=Vengrų
Name[lv]=Ungāru
Name[mai]=हंगेरियाई
Name[mk]=Унгарски
Name[ml]=ഹംഗേറിയന്‍
Name[mr]=हंगेरियाई
Name[ms]=Hungary
Name[nb]=Ungarsk
Name[nds]=Ungaarsch
Name[ne]=हङ्गेरियाली
Name[nl]=Hongaars
Name[nn]=Ungarsk
Name[oc]=Ongrés
Name[or]=ହଙ୍ଗାରିୟନ
Name[pa]=ਹੰਗਰੀਆਈ
Name[pl]=Węgierski
Name[ps]=هنګري
Name[pt]=Húngaro
Name[pt_BR]=Húngaro
Name[ro]=Maghiară
Name[ru]=Венгерский
Name[se]=Ungárgiella
Name[si]=හංගේරියානු
Name[sk]=Maďarčina
Name[sl]=Madžarščina
Name[sq]=Hungarisht
Name[sr]=мађарски
Name[sr@ijekavian]=мађарски
Name[sr@ijekavianlatin]=mađarski
Name[sr@latin]=mađarski
Name[sv]=Ungerska
Name[ta]=ஹங்கேரியன்
Name[te]=హంగెరియన్
Name[tg]=Венгерӣ
Name[th]=ภาษาฮังการี
Name[tr]=Macarca
Name[tt]=Венгер
Name[ug]=ماجارچە
Name[uk]=Угорська
Name[uz]=Vengrcha
Name[uz@cyrillic]=Венгрча
Name[vi]=Tiếng Hung-ga-ri
Name[wa]=Hongrwès
Name[xh]=Hungarian
Name[x-test]=xxHungarianxx
Name[zh_CN]=匈牙利语
Name[zh_HK]=匈牙利語
Name[zh_TW]=匈牙利語
