[KCM Locale]
Name=Brazil portuguese
Name[af]=Brazilië portugese
Name[ar]=برتغاليّة البرازيل
Name[as]=ব্ৰাজীলিয় প'ৰ্টুগিছ্
Name[az]=Portuqal (Braziliya) dilində
Name[be]=Партугальская (Бразілія)
Name[be@latin]=Partuhaĺskaja (Brazilija)
Name[bg]=Португалски (Бразилия)
Name[bn]=ব্রাজিল পর্তুগীজ
Name[bn_IN]=ব্রাজিলিয়ান পোর্তুগিজ
Name[br]=Portugaleg Brazil
Name[bs]=brazilski potugalski
Name[ca]=Portuguès del Brasil
Name[ca@valencia]=Portugués del Brasil
Name[cs]=Brazilská portugalština
Name[csb]=Brazylsczi pòrtugalsczi
Name[cy]=Portiwgaleg Brasil
Name[da]=Brasiliansk portugisisk
Name[de]=Brasilianisches Portugiesisch
Name[el]=Πορτογαλικά Βραζιλίας
Name[en_GB]=Brazil portuguese
Name[eo]=Brazila portugala
Name[es]=Portugués de Brasil
Name[et]=Brasiilia portugali
Name[eu]=Brasilgoa portugesa
Name[fa]=پرتغالی برزیلی
Name[fi]=Brasilianportugali
Name[fr]=Portugais brésilien
Name[fy]=Brasiliaansk Portugeesk
Name[ga]=Portaingéilis na Brasaíle
Name[gd]=Portagailis Bhraisileach
Name[gl]=Portugués do brasil
Name[gu]=બ્રાઝિલ પોર્ટુગીઝ
Name[he]=פורטוגזית ברזילאית
Name[hi]=ब्राजील पुर्तगाली
Name[hne]=ब्राजील पुर्तगाली
Name[hr]=Brazilski portugalski
Name[hsb]=Portugalsce (w Brazilskej)
Name[hu]=Brazil portugál
Name[ia]=Portugese Brasilian
Name[id]=Brasil portugis
Name[is]=Brasilísk portúgalska
Name[it]=Portoghese brasiliano
Name[ja]=ブラジル ポルトガル語
Name[ka]=ბრაზილიური პორტუგალიური
Name[kk]=Бразилияның португалша
Name[km]=ប្រេស៊ីល ព័រទុយហ្គាល់
Name[kn]=ಬ್ರೆಜಿಲಿಯನ್ ಪೋರ್ಚುಗೀಸ್
Name[ko]=포르투갈어(브라질)
Name[ku]=Portûgaliya Brezîl
Name[lb]=Brasilianescht Portugisesch
Name[lt]=Brazilijos portugalų
Name[lv]=Brazīlijas portugāļu
Name[mai]=ब्राजील पुर्तगाली
Name[mk]=Бразилски португалски
Name[ml]=ബ്രസീലിലെ പോര്‍ച്ചുഗീസ്
Name[mr]=ब्राझील पोर्तुगीज
Name[ms]=Portugis Brazil
Name[nb]=Portugisisk (Brasil)
Name[nds]=Brasiliaansch Portugeesch
Name[ne]=ब्राजिल पोर्तुगाली
Name[nl]=Braziliaans Portugees
Name[nn]=Portugisisk (Brasil)
Name[or]=ବ୍ରାଜିଲ ପର୍ତ୍ତୁଗିଜ
Name[pa]=ਬਰਾਜ਼ੀਲ ਪੁਰਤਗਾਲੀ
Name[pl]=Brazylijski portugalski
Name[ps]=برازيلي پورټګيز
Name[pt]=Português do Brasil
Name[pt_BR]=Português brasileiro
Name[ro]=Portugheză braziliană
Name[ru]=Португальский (Бразилия)
Name[se]=Brasilialaš portugálagiella
Name[si]=බ්‍රසීල පෘතුගීසි
Name[sk]=Portugalčina (Brazília)
Name[sl]=Portugalščina (Brazilija)
Name[sq]=Portugalisht e Brazilit
Name[sr]=бразилски потугалски
Name[sr@ijekavian]=бразилски потугалски
Name[sr@ijekavianlatin]=brazilski potugalski
Name[sr@latin]=brazilski potugalski
Name[sv]=Brasiliansk portugisiska
Name[ta]=பிரேசில் போர்த்துகீசிய
Name[te]=బ్రాజిల్ పొర్ట్యుగీస్
Name[tg]=Бразилиягии португалӣ
Name[th]=ภาษาโปรตุเกสบราซิล
Name[tr]=Brezilya Portekizcesi
Name[tt]=Португал (Бразилия)
Name[ug]=بىرازىلىيە پورتۇگالچىسى
Name[uk]=Бразильська португальська
Name[uz]=Brazil portugalcha
Name[uz@cyrillic]=Бразил португалча
Name[vi]=Tiếng Bồ Đào Nha Brazil
Name[wa]=Portuguès do Braezi
Name[xh]=Brazil portuguese
Name[x-test]=xxBrazil portuguesexx
Name[zh_CN]=巴西葡萄牙语
Name[zh_HK]=巴西葡萄牙語
Name[zh_TW]=巴西葡萄牙語
