[KCM Locale]
Name=Esperanto
Name[af]=Esperanto
Name[ar]=الإسبرانتو
Name[as]=এস্পেৰান্টো
Name[az]=Esperanto dilində
Name[be]=Эсперанта
Name[be@latin]=Espieranta
Name[bg]=Есперанто
Name[bn]=এস্পারান্তো
Name[bn_IN]=এসপারান্তো
Name[br]=Esperanteg
Name[bs]=esperanto
Name[ca]=Esperanto
Name[ca@valencia]=Esperanto
Name[cs]=Esperanto
Name[csb]=Esperanto
Name[cy]=Esperanto
Name[da]=Esperanto
Name[de]=Esperanto
Name[el]=Esperanto
Name[en_GB]=Esperanto
Name[eo]=Esperanto
Name[es]=Esperanto
Name[et]=Esperanto
Name[eu]=Esperanto
Name[fa]=اسپرانتور
Name[fi]=Esperanto
Name[fr]=Espéranto
Name[fy]=Esperanto
Name[ga]=Esperanto
Name[gd]=Esperanto
Name[gl]=Esperanto
Name[gu]=એસ્પ્રાન્ટો
Name[he]=אספרנטו
Name[hi]=एस्परेन्तो
Name[hne]=एस्परेन्तो
Name[hr]=Esperanto
Name[hsb]=Esperanto
Name[hu]=Eszperantó
Name[ia]=Esperanto 
Name[id]=Esperanto
Name[is]=Esperantó
Name[it]=Esperanto
Name[ja]=エスペラント語
Name[ka]=ესპერანტო
Name[kk]=Эсперанто
Name[km]=អេស្ពេរ៉ាន់តូ
Name[kn]=ಎಸ್ಪರಾನ್ಟೊ
Name[ko]=에스페란토
Name[ku]=Esperanto
Name[lb]=Esperanto
Name[lt]=Esperanto
Name[lv]=Esperanto
Name[mai]=एस्पेरांटो
Name[mk]=Есперанто
Name[ml]=എസ്പരാണ്ടോ
Name[mr]=एस्परेन्तो
Name[ms]=Esperanto
Name[nb]=Esperanto
Name[nds]=Esperanto
Name[ne]=इस्पेरान्तो
Name[nl]=Esperanto
Name[nn]=Esperanto
Name[oc]=Esperanto
Name[or]=ଏସ୍ପେରେଣ୍ଟୋ
Name[pa]=ਇਸਪੀਰਾਨਟੋ
Name[pl]=Esperanto
Name[ps]=اېسپېرېنټو
Name[pt]=Esperanto
Name[pt_BR]=Esperanto
Name[ro]=Esperanto
Name[ru]=Эсперанто
Name[se]=Esperantogiella
Name[si]=එස්පරන්ටෝ
Name[sk]=Esperanto
Name[sl]=Esperanto
Name[sq]=Esperanto
Name[sr]=есперанто
Name[sr@ijekavian]=есперанто
Name[sr@ijekavianlatin]=esperanto
Name[sr@latin]=esperanto
Name[sv]=Esperanto
Name[ta]=எஸ்பரான்டோ
Name[te]=ఎస్పరాన్టొ
Name[tg]=Эсперанто
Name[th]=ภาษาเอสเปอร์รันโต
Name[tr]=Esperanto
Name[tt]=Эсперанто
Name[ug]=ئېسپېرانتو (دۇنيا تىلى)
Name[uk]=Есперанто
Name[uz]=Esperanto
Name[uz@cyrillic]=Эсперанто
Name[vi]=Tiếng Quốc tế
Name[wa]=Esperanto
Name[xh]=Esperanto
Name[x-test]=xxEsperantoxx
Name[zh_CN]=世界语
Name[zh_HK]=世界語
Name[zh_TW]=世界語
