[KCM Locale]
Name=French
Name[af]=Franse
Name[ar]=الفرنسيّة
Name[as]=ফৰাচী
Name[az]=Fransız dilində
Name[be]=Французская
Name[be@latin]=Francuzskaja
Name[bg]=Френски
Name[bn]=ফরাসী
Name[bn_IN]=ফ্রেঞ্চ
Name[br]=Galleg
Name[bs]=francuski
Name[ca]=Francès
Name[ca@valencia]=Francés
Name[cs]=Francouzský
Name[csb]=Francësczi
Name[cy]=Ffrangeg
Name[da]=Fransk
Name[de]=Französisch
Name[el]=Γαλλικά
Name[en_GB]=French
Name[eo]=Franca
Name[es]=Francés
Name[et]=Prantsuse
Name[eu]=Frantses
Name[fa]=فرانسوی
Name[fi]=Ranska
Name[fr]=Français
Name[fy]=Frânsk
Name[ga]=Fraincis
Name[gd]=Fraingis
Name[gl]=Francés
Name[gu]=ફ્રેંચ
Name[he]=צרפתית
Name[hi]=फ्रांसीसी
Name[hne]=फ्रांसीसी
Name[hr]=Francuski
Name[hsb]=Francosce
Name[hu]=Francia
Name[ia]=Francese
Name[id]=Prancis
Name[is]=Franska
Name[it]=Francese
Name[ja]=フランス語
Name[ka]=ფრანგული
Name[kk]=Французша
Name[km]=បារាំង
Name[kn]=ಫ್ರೆಂಚ್
Name[ko]=프랑스어
Name[ku]=Fransî
Name[lb]=Franséisch
Name[lt]=Prancūzų
Name[lv]=Franču
Name[mai]=फ्रेंच
Name[mk]=Француски
Name[ml]=ഫ്രഞ്ച്
Name[mr]=फ्रेंच
Name[ms]=Perancis
Name[nb]=Fransk
Name[nds]=Franzöösch
Name[ne]=फ्रान्सेली
Name[nl]=Frans
Name[nn]=Fransk
Name[oc]=Francés
Name[or]=ଫ୍ରେଞ୍ଚ
Name[pa]=ਫਰੈਂਚ
Name[pl]=Francuski
Name[ps]=فرانسوي
Name[pt]=Francês
Name[pt_BR]=Francês
Name[ro]=Franceză
Name[ru]=Французский
Name[se]=Fránskkagiella
Name[si]=ප්‍රංශ
Name[sk]=Francúzština
Name[sl]=Francoščina
Name[sq]=Frengjisht
Name[sr]=француски
Name[sr@ijekavian]=француски
Name[sr@ijekavianlatin]=francuski
Name[sr@latin]=francuski
Name[sv]=Franska
Name[ta]=பிரென்ச் 
Name[te]=ఫ్రెంచ్
Name[tg]=Франсавӣ
Name[th]=ภาษาฝรั่งเศส
Name[tr]=Fransızca
Name[tt]=Француз
Name[ug]=فىرانسۇزچە
Name[uk]=Французька
Name[uz]=Fransuzcha
Name[uz@cyrillic]=Французча
Name[vi]=Tiếng Pháp
Name[wa]=Francès
Name[xh]=isifrentshi
Name[x-test]=xxFrenchxx
Name[zh_CN]=法语
Name[zh_HK]=法語
Name[zh_TW]=法語
