[KCM Locale]
Name=British English
Name[af]=Britse Engels
Name[ar]=الإنجليزيّة البريطانيّة
Name[as]=ব্ৰিটিশ্ব ইংৰাজী
Name[az]=Böyük Britaniya
Name[be]=Англійская (Вялікабрытанія)
Name[be@latin]=Anhlijskaja (Vialikabrytanija)
Name[bg]=Английски (Великобритания)
Name[bn]=বৃটিশ ইংরেজি
Name[bn_IN]=ব্রিটিশ ইংরেজি
Name[br]=Saozneg eus Bro Saoz
Name[bs]=britanski engleski
Name[ca]=Anglès britànic
Name[ca@valencia]=Anglés britànic
Name[cs]=Britská angličtina
Name[csb]=Britijsczi anielsczi
Name[cy]=Saesneg Prydain
Name[da]=Britisk engelsk
Name[de]=Englisch (UK)
Name[el]=Αγγλικά Βρετανίας
Name[en_GB]=British English
Name[eo]=Brita angla
Name[es]=Inglés británico
Name[et]=Briti inglise
Name[eu]=Britainiako Ingeles
Name[fa]=انگلیسی بریتانیا
Name[fi]=Britannianenglanti
Name[fr]=Anglais Britannique
Name[fy]=Britsk Ingelsk
Name[ga]=Béarla na Breataine
Name[gd]=Beurla Bhreatainn
Name[gl]=Inglés británico
Name[gu]=બ્રિટિશ અંગ્રેજી
Name[he]=אנגלית בריטית
Name[hi]=ब्रितानी अंग्रेज़ी
Name[hne]=ब्रितानी अंगरेजी
Name[hr]=Britanski engleski
Name[hsb]=Jendźelsce (WB)
Name[hu]=Angol (brit)
Name[ia]=Anglese Britannic 
Name[id]=Inggris Britania
Name[is]=Enska (Bretland)
Name[it]=Inglese britannico
Name[ja]=イギリス英語
Name[ka]=ბრიტანული ინგლისური
Name[kk]=Британдық ағылшынша
Name[km]=អង់គ្លេស (អង់គ្លេស)
Name[kn]=ಬ್ರಿಟಿಷ್ ಇಂಗ್ಲೀಷ್
Name[ko]=영국 영어
Name[ku]=Îngilîziya Brîtanyayê
Name[lb]=Englesch (UK)
Name[lt]=Anglų (D.Britanijos)
Name[lv]=Britu angļu
Name[mai]=ब्रिटिश अंग्रेजी
Name[mk]=Британски Англиски
Name[ml]=ബ്രിട്ടീഷ്  ഇംഗ്ലീഷ്
Name[mr]=ब्रिटिश इंग्रजी
Name[ms]=English GB
Name[nb]=Engelsk (Storbritannia)
Name[nds]=Britsch Engelsch
Name[ne]=बेलायती अंग्रेजी
Name[nl]=Brits Engels
Name[nn]=Engelsk (Storbritannia)
Name[oc]=Anglés britanic
Name[or]=ବ୍ରିଟିଶ ଇଂଲିସ
Name[pa]=ਬਰਤਾਨੀਵੀ ਅੰਗਰੇਜ਼ੀ
Name[pl]=Brytyjski angielski
Name[ps]=برېټانوي انګريزي
Name[pt]=Inglês da Grã-Bretanha
Name[pt_BR]=Inglês britânico
Name[ro]=Engleză britanică
Name[ru]=Английский (Великобритания)
Name[se]=Eŋgelasgiella (Stuorra Brittania)
Name[si]=බ්‍රිතාන්‍ය ඉංග්‍රීසි
Name[sk]=Britská angličtina
Name[sl]=Angleščina (VB)
Name[sq]=Anglisht e Britanisë
Name[sr]=британски енглески
Name[sr@ijekavian]=британски енглески
Name[sr@ijekavianlatin]=britanski engleski
Name[sr@latin]=britanski engleski
Name[sv]=Brittisk engelska
Name[ta]=பிரிட்டிஷ் ஆங்கிலம்
Name[te]=బ్రిటిష్ ఆంగ్లము
Name[tg]=Англисии Британӣ
Name[th]=ภาษาอังกฤษบริติช
Name[tr]=Britanya İngilizcesi
Name[tt]=Инглиз (Британия)
Name[ug]=ئەنگلىيە ئىنگلىزچە
Name[uk]=Англійська (Велика Британія)
Name[uz]=Inglizcha BB
Name[uz@cyrillic]=Инглизча ББ
Name[vi]=Tiếng Anh Anh
Name[wa]=Inglès britanike
Name[x-test]=xxBritish Englishxx
Name[zh_CN]=英式英语
Name[zh_HK]=英式英語
Name[zh_TW]=英式英語

