[KCM Locale]
Name=Russian
Name[af]=Russiese
Name[ar]=الرّوسيّة
Name[as]=ৰুচীয়
Name[az]=Rus dilində
Name[be]=Расійская
Name[be@latin]=Rasijskaja
Name[bg]=Руски
Name[bn]=রুশ
Name[bn_IN]=রুশি
Name[br]=Rusianeg
Name[bs]=ruski
Name[ca]=Rus
Name[ca@valencia]=Rus
Name[cs]=Ruský
Name[csb]=Rusczi
Name[cy]=Rwsieg
Name[da]=Russisk
Name[de]=Russisch
Name[el]=Ρωσικά
Name[en_GB]=Russian
Name[eo]=Rusa
Name[es]=Ruso
Name[et]=Vene
Name[eu]=Errusiera
Name[fa]=روسی
Name[fi]=Venäjä
Name[fr]=Russe
Name[fy]=Russysk
Name[ga]=Rúisis
Name[gd]=Ruisis
Name[gl]=Ruso
Name[gu]=રશિયન
Name[he]=רוסית
Name[hi]=रूसी
Name[hne]=रूसी
Name[hr]=Ruski
Name[hsb]=Rusce
Name[hu]=Orosz
Name[ia]=Russo
Name[id]=Rusia
Name[is]=Rússneska
Name[it]=Russo
Name[ja]=ロシア語
Name[ka]=რუსული
Name[kk]=Орысша
Name[km]=រុស្សី
Name[kn]=ರಷಿಯನ್
Name[ko]=러시아어
Name[ku]=Rûsî
Name[lb]=Russesch
Name[lt]=Rusų
Name[lv]=Krievu
Name[mai]=रूसी
Name[mk]=Руски
Name[ml]=റഷ്യന്‍
Name[mr]=रूसी
Name[ms]=Russia
Name[nb]=Russisk
Name[nds]=Russ'sch
Name[ne]=रसियाली
Name[nl]=Russisch
Name[nn]=Russisk
Name[oc]=Rus
Name[or]=ରୁସିୟାନ
Name[pa]=ਰੂਸੀ
Name[pl]=Rosyjski
Name[ps]=روسي
Name[pt]=Russo
Name[pt_BR]=Russo
Name[ro]=Rusă
Name[ru]=Русский
Name[se]=Ruoššagiella
Name[si]=රුසියානු
Name[sk]=Ruština
Name[sl]=Ruščina
Name[sq]=Rusisht
Name[sr]=руски
Name[sr@ijekavian]=руски
Name[sr@ijekavianlatin]=ruski
Name[sr@latin]=ruski
Name[sv]=Ryska
Name[ta]=ரஷ்யம்
Name[te]=రష్యన్
Name[tg]=Русӣ
Name[th]=ภาษารัสเซีย
Name[tr]=Rusça
Name[tt]=Рус
Name[ug]=رۇسچە
Name[uk]=Російська
Name[uz]=Ruscha
Name[uz@cyrillic]=Русча
Name[vi]=Tiếng Nga
Name[wa]=Rûsse
Name[xh]=Russian
Name[x-test]=xxRussianxx
Name[zh_CN]=俄语
Name[zh_HK]=俄語
Name[zh_TW]=俄語
DateMonthNamePossessive=true
NounDeclension=true
