[KCM Locale]
Name=Interlingua
Name[ar]=الإنترلنغوا
Name[az]=Interlingva
Name[be]=Інтэрлінгва
Name[be@latin]=Interlinhva
Name[bg]=Интерлингва
Name[bs]=interlingva
Name[ca]=Interlingua
Name[ca@valencia]=Interlingua
Name[cs]=Interlingua
Name[da]=Interlingua
Name[de]=Interlingua
Name[el]=Interlingua
Name[en_GB]=Interlingua
Name[eo]=Interlingvao
Name[es]=Interlingua
Name[et]=Interlingua
Name[eu]=Interlingua
Name[fa]=میان زبانی
Name[fi]=Interlingua
Name[fr]=Interlingua
Name[ga]=Idirtheanga
Name[gd]=Interlingua
Name[gl]=Interlingua
Name[gu]=ઇન્ટરલિન્ગુઆ
Name[he]=אינטרלינגואה
Name[hi]=अंतरभाषी
Name[hr]=Interlingua
Name[hu]=Interlingua
Name[ia]=Interlingua
Name[id]=Interlingua
Name[is]=Interlingua
Name[it]=Interlingua
Name[ja]=インターリングア
Name[ka]=ინტერლინგვა
Name[kk]=Интерлингва
Name[km]=អ៊ីនធឺ​លីងហ្គោ
Name[ko]=국제어(Interlingua)
Name[ku]=Interlingua
Name[lt]=Interlingua
Name[lv]=Interlingva
Name[mr]=इंटरलिंग्युआ
Name[ms]=Interlingua
Name[nb]=Interlingua
Name[nds]=Interlingua
Name[nl]=Interlingua
Name[nn]=Interlingua
Name[pa]=ਇੰਟਰਲੀਗੂਆ
Name[pl]=Interlingua
Name[pt]=Interlingua
Name[pt_BR]=Interlíngua
Name[ro]=Interlingua
Name[ru]=Интерлингва
Name[se]=Interlingua
Name[sk]=Interlingua
Name[sl]=Interlingva
Name[sr]=интерлингва
Name[sr@ijekavian]=интерлингва
Name[sr@ijekavianlatin]=interlingva
Name[sr@latin]=interlingva
Name[sv]=Interlingua
Name[ta]=இன்டர்லிங்குவா
Name[tg]=Забонҳо
Name[th]=ภาษานานาชาติ
Name[tr]=İnterlingua
Name[tt]=Интерлингва
Name[ug]=خەلقئارا تىل
Name[uk]=Інтерлінгва
Name[vi]=Tiếng Khoa học Quốc tế
Name[wa]=Interlingua (noû latén)
Name[x-test]=xxInterlinguaxx
Name[zh_CN]=国际语
Name[zh_TW]=科技共通語
