[KCM Locale]
Name=Georgian
Name[af]=Georgian
Name[ar]=الجيورجيّة
Name[as]=জৰ্জিয়ান
Name[az]=Gürcü dilində
Name[be]=Грузінская
Name[be@latin]=Hruzinskaja
Name[bg]=Грузински
Name[bn]=জর্জিয়ান
Name[bn_IN]=জর্জিয়ান
Name[br]=Jeorjieg
Name[bs]=gruzijski
Name[ca]=Georgià
Name[ca@valencia]=Georgià
Name[cs]=Gruzínský
Name[csb]=Grëzóńsczi
Name[cy]=Georgeg
Name[da]=Georgisk
Name[de]=Georgisch
Name[el]=Γεωργιανά
Name[en_GB]=Georgian
Name[eo]=Kartvela
Name[es]=Georgiano
Name[et]=Gruusia
Name[eu]=Georgiera
Name[fa]=گرجی
Name[fi]=Georgia
Name[fr]=Géorgien
Name[fy]=Georgysk
Name[ga]=Seoirsis
Name[gd]=Cairtbheilis
Name[gl]=Xeorxiano
Name[gu]=જ્યોર્જિયન
Name[he]=גאורגית
Name[hi]=ज्यॉर्जियाई
Name[hne]=ज्यार्जियाई
Name[hr]=Gruzijski
Name[hsb]=Gruzinsce
Name[hu]=Grúz
Name[ia]=Georgian 
Name[id]=Georgia
Name[is]=Georgíska
Name[it]=Georgiano
Name[ja]=グルジア語
Name[ka]=ქართული
Name[kk]=Гүржіше
Name[km]=ហ្សកហ្ស៊ី
Name[kn]=ಜಾರ್ಜೀಯನ್
Name[ko]=조지아어
Name[ku]=Gurcî
Name[lb]=Georgesch
Name[lt]=Gruzinų
Name[lv]=Gruzīnu
Name[mai]=ज्यॉर्जियाइ
Name[mk]=Грузиски
Name[ml]=ജോര്‍ജ്ജിയന്‍
Name[mr]=जॉर्जियन
Name[ms]=Georgian
Name[nb]=Georgisk
Name[nds]=Georgsch
Name[ne]=जर्जियाली
Name[nl]=Georgisch
Name[nn]=Georgisk
Name[oc]=Georgian
Name[or]=ଜର୍ଜିୟନ
Name[pa]=ਜਾਰਜੀਆਈ
Name[pl]=Gruziński
Name[ps]=ګورجيايي
Name[pt]=Geórgio
Name[pt_BR]=Georgiano
Name[ro]=Georgiană
Name[ru]=Грузинский
Name[se]=Georgialaš
Name[si]=ජෝර්ජියානු
Name[sk]=Gruzínčina
Name[sl]=Gruzinščina
Name[sq]=Gjorgjisht
Name[sr]=грузијски
Name[sr@ijekavian]=грузијски
Name[sr@ijekavianlatin]=gruzijski
Name[sr@latin]=gruzijski
Name[sv]=Georgiska
Name[ta]=ஜார்ஜியான்
Name[te]=జార్జియన్
Name[tg]=Гурҷӣ
Name[th]=ภาษาจอร์เจีย
Name[tr]=Gürcüce
Name[tt]=Грузин
Name[ug]=گىرۇزىنچە
Name[uk]=Грузинська
Name[uz]=Gurjistoncha
Name[uz@cyrillic]=Гуржистонча
Name[vi]=Tiếng Georgia
Name[wa]=Djeyordjyin
Name[x-test]=xxGeorgianxx
Name[zh_CN]=格鲁吉亚语
Name[zh_HK]=格魯吉亞語
Name[zh_TW]=喬治亞語
