[KCM Locale]
Name=Greek
Name[af]=Grieks
Name[ar]=اليونانيّة
Name[as]=গ্ৰীক
Name[az]=Yunan dilində
Name[be]=Грэчаская
Name[be@latin]=Hrečaskaja
Name[bg]=Гръцки
Name[bn]=গ্রীক
Name[bn_IN]=গ্রিক
Name[br]=Gresianeg
Name[bs]=grčki
Name[ca]=Grec
Name[ca@valencia]=Grec
Name[cs]=Řecký
Name[csb]=Grecczi
Name[cy]=Groeg
Name[da]=Græsk
Name[de]=Griechisch
Name[el]=Ελληνικά
Name[en_GB]=Greek
Name[eo]=Greka
Name[es]=Griego
Name[et]=Kreeka
Name[eu]=Greko
Name[fa]=یونانی
Name[fi]=Kreikka
Name[fr]=Grec
Name[fy]=Gryks
Name[ga]=Gréigis
Name[gd]=Greugais
Name[gl]=Grego
Name[gu]=ગ્રીક
Name[he]=יוונית
Name[hi]=यूनानी
Name[hne]=यूनानी
Name[hr]=Grčki
Name[hsb]=Grjeksce
Name[hu]=Görög
Name[ia]=Greco 
Name[id]=Yunani
Name[is]=Gríska
Name[it]=Greco
Name[ja]=ギリシャ語
Name[ka]=ბერძნული
Name[kk]=Грекше
Name[km]=ក្រិក
Name[kn]=ಗ್ರೀಕ್
Name[ko]=그리스어
Name[ku]=Yewnanî
Name[lb]=Griichesch
Name[lt]=Graikų
Name[lv]=Grieķu
Name[mai]=ग्रीक
Name[mk]=Грчки
Name[ml]=ഗ്രീക്ക്
Name[mr]=ग्रीक
Name[ms]=Greek
Name[nb]=Gresk
Name[nds]=Greeksch
Name[ne]=ग्रीक
Name[nl]=Grieks
Name[nn]=Gresk
Name[oc]=Grèc
Name[or]=ଗ୍ରୀକ
Name[pa]=ਗਰੀਕ
Name[pl]=Grecki
Name[ps]=يوناني
Name[pt]=Grego
Name[pt_BR]=Grego
Name[ro]=Greacă
Name[ru]=Греческий
Name[se]=Greikkagiella
Name[si]=ග්‍රීක
Name[sk]=Gréčtina
Name[sl]=Grščina
Name[sq]=Greqisht
Name[sr]=грчки
Name[sr@ijekavian]=грчки
Name[sr@ijekavianlatin]=grčki
Name[sr@latin]=grčki
Name[sv]=Grekiska
Name[ta]=கிரேக்கம்
Name[te]=గ్రీక్
Name[tg]=Юнонӣ
Name[th]=ภาษากรีก
Name[tr]=Yunanca
Name[tt]=Грек
Name[ug]=گىرېكچە
Name[uk]=Грецька
Name[uz]=Yunoncha
Name[uz@cyrillic]=Юнонча
Name[vi]=Tiếng Hi Lạp
Name[wa]=Grek
Name[xh]=Greek
Name[x-test]=xxGreekxx
Name[zh_CN]=希腊语
Name[zh_HK]=希臘語
Name[zh_TW]=希臘語
