[KCM Locale]
Name=Polish
Name[af]=Poolse
Name[ar]=البولنديّة
Name[as]=প'লিশ্ব
Name[az]=Polyak dilində
Name[be]=Польская
Name[be@latin]=Poĺskaja
Name[bg]=Полски
Name[bn]=পোলিশ
Name[bn_IN]=পোলিশ
Name[br]=Poloneg
Name[bs]=poljski
Name[ca]=Polonès
Name[ca@valencia]=Polonés
Name[cs]=Polský
Name[csb]=Pòlsczi
Name[cy]=Poleg
Name[da]=Polsk
Name[de]=Polnisch
Name[el]=Πολωνικά
Name[en_GB]=Polish
Name[eo]=Pola
Name[es]=Polaco
Name[et]=Poola
Name[eu]=Poloniera
Name[fa]=لهستانی
Name[fi]=Puola
Name[fr]=Polonais
Name[fy]=Poalsk
Name[ga]=Polainnis
Name[gd]=Pòlainnis
Name[gl]=Polaco
Name[gu]=પોલિશ
Name[he]=פולנית
Name[hi]=पोलिश
Name[hne]=पोलिस
Name[hr]=Poljski
Name[hsb]=Pólsce
Name[hu]=Lengyel
Name[ia]=Polonese 
Name[id]=Polandia
Name[is]=Pólska
Name[it]=Polacco
Name[ja]=ポーランド語
Name[ka]=პოლონური
Name[kk]=Полякша
Name[km]=ប៉ូឡូញ
Name[kn]=ಪೋಲಿಷ್
Name[ko]=폴란드어
Name[ku]=Polî
Name[lb]=Polnesch
Name[lt]=Lenkų
Name[lv]=Poļu
Name[mai]=पोलिश
Name[mk]=Полски
Name[ml]=പോളിഷ്
Name[mr]=पोलिश
Name[ms]=Polish
Name[nb]=Polsk
Name[nds]=Poolsch
Name[ne]=पोलिस
Name[nl]=Pools
Name[nn]=Polsk
Name[oc]=Polonés
Name[or]=ପୋଲିସ
Name[pa]=ਪੋਲੈਂਡੀ
Name[pl]=Polski
Name[ps]=پولېش
Name[pt]=Polaco
Name[pt_BR]=Polonês
Name[ro]=Poloneză
Name[ru]=Польский
Name[se]=Polskkagiella
Name[si]=පෝලන්තානු
Name[sk]=Poľština
Name[sl]=Poljščina
Name[sq]=Polonisht
Name[sr]=пољски
Name[sr@ijekavian]=пољски
Name[sr@ijekavianlatin]=poljski
Name[sr@latin]=poljski
Name[sv]=Polska
Name[ta]=போலிஷ்
Name[te]=పొలిష్
Name[tg]=Полякӣ
Name[th]=ภาษาโปแลนด์
Name[tr]=Lehçe
Name[tt]=Польша
Name[ug]=پولەكچە
Name[uk]=Польська
Name[uz]=Polyakcha
Name[uz@cyrillic]=Полякча
Name[vi]=Tiếng Ba Lan
Name[wa]=Polonès
Name[xh]=Polish
Name[x-test]=xxPolishxx
Name[zh_CN]=波兰语
Name[zh_HK]=波蘭語
Name[zh_TW]=波蘭語
