[KCM Locale]
Name=Kazakh
Name[af]=Kazakh
Name[ar]=القازاقيّة
Name[as]=কাজাখ
Name[az]=Qazax dilində
Name[be]=Казахская
Name[be@latin]=Kazachskaja
Name[bg]=Казахски
Name[bn]=কাজাক
Name[bn_IN]=কাজাখ
Name[br]=Kazakstaneg
Name[bs]=kazaški
Name[ca]=Kazakh
Name[ca@valencia]=Kazakh
Name[cs]=Kazašský
Name[csb]=Kazachsczi
Name[cy]=Kazakh
Name[da]=Kazakh
Name[de]=Kasachisch
Name[el]=Καζακικά
Name[en_GB]=Kazakh
Name[eo]=Kazaĥa
Name[es]=Kazajo
Name[et]=Kasahhi
Name[eu]=Kazakhera
Name[fa]=قزاق
Name[fi]=Kazakki
Name[fr]=Kazakh
Name[fy]=Kazakh
Name[ga]=Casaicis
Name[gd]=Casachais
Name[gl]=Casaco
Name[gu]=કઝાખ
Name[he]=קזחית
Name[hi]=कज़ाख
Name[hne]=कजाख
Name[hr]=Kazaški
Name[hsb]=Kazachisce
Name[hu]=Kazah
Name[ia]=Kazako 
Name[id]=Kazakhstan
Name[is]=Kasakska
Name[it]=Kazako
Name[ja]=カザフ語
Name[ka]=ყაზახური
Name[kk]=Қазақша
Name[km]=កាហ្សាក់ស្ថាន
Name[kn]=ಕಝಾಕ್
Name[ko]=카자흐어
Name[ku]=Kazakî
Name[lb]=Kasachesch
Name[lt]=Kazachų
Name[lv]=Kazahu
Name[mai]=कजाख
Name[mk]=Казахстански
Name[ml]=ഖസാഖ്
Name[mr]=कज़ाख
Name[ms]=Kazakh
Name[nb]=Kasakstansk
Name[nds]=Kasachsch
Name[ne]=कजाख
Name[nl]=Kazachs
Name[nn]=Kasakhisk
Name[oc]=Kazakh
Name[or]=କଜାଖ
Name[pa]=ਕਾਜ਼ਾਖ
Name[pl]=Kazachski
Name[ps]=کزاکي
Name[pt]=Cazaque
Name[pt_BR]=Cazaque
Name[ro]=Kazahă
Name[ru]=Казахский
Name[se]=Kasahkagiella
Name[si]=කසඛ්
Name[sk]=Kazaština
Name[sl]=Kazaščina
Name[sr]=казашки
Name[sr@ijekavian]=казашки
Name[sr@ijekavianlatin]=kazaški
Name[sr@latin]=kazaški
Name[sv]=Kazakiska
Name[ta]=கசக்
Name[te]=కజాఖ్
Name[tg]=Қазоқӣ
Name[th]=ภาษาคาซัค
Name[tr]=Kazakça
Name[tt]=Казах
Name[ug]=قازاقچە
Name[uk]=Казахська
Name[uz]=Qozoqcha
Name[uz@cyrillic]=Қозоқча
Name[vi]=Tiếng Kazakh
Name[wa]=Kazaxh
Name[x-test]=xxKazakhxx
Name[zh_CN]=哈萨克语
Name[zh_HK]=哈薩克語
Name[zh_TW]=哈薩克語
