[KCM Locale]
Name=Danish
Name[af]=Deens
Name[ar]=الدّنماركيّة
Name[as]=ডেনিশ্ব
Name[az]=Danimarka dilində
Name[be]=Дацкая
Name[be@latin]=Dackaja
Name[bg]=Датски
Name[bn]=ড্যানিশ
Name[bn_IN]=ডেনিশ
Name[br]=Daneg
Name[bs]=danski
Name[ca]=Danès
Name[ca@valencia]=Danés
Name[cs]=Dánský
Name[csb]=Dëńsczi
Name[cy]=Daneg
Name[da]=Dansk
Name[de]=Dänisch
Name[el]=Δανέζικα
Name[en_GB]=Danish
Name[eo]=Dana
Name[es]=Danés
Name[et]=Taani
Name[eu]=Daniera
Name[fa]=دانمارکی
Name[fi]=Tanska
Name[fr]=Danois
Name[fy]=Deensk
Name[ga]=Danmhairgis
Name[gd]=Danmhairgis
Name[gl]=Dinamarqués
Name[gu]=ડેનિશ
Name[he]=דנית
Name[hi]=दानिश
Name[hne]=दानिस
Name[hr]=Danski
Name[hsb]=Dansce
Name[hu]=Dán
Name[ia]=Danese 
Name[id]=Denmark
Name[is]=Danska
Name[it]=Danese
Name[ja]=デンマーク語
Name[ka]=დანიური
Name[kk]=Датша
Name[km]=ដាណឺម៉ាក
Name[kn]=ಡ್ಯಾನಿಷ್
Name[ko]=덴마크어
Name[ku]=Danmarkî
Name[lb]=Dänesch
Name[lt]=Danų
Name[lv]=Dāņu
Name[mai]=डैनिश
Name[mk]=Дански
Name[ml]=ഡാനിഷ്
Name[mr]=दानिश
Name[ms]=Danish
Name[nb]=Dansk
Name[nds]=Däänsch
Name[ne]=डेनिश
Name[nl]=Deens
Name[nn]=Dansk
Name[oc]=Danés
Name[or]=ଡେନିସ
Name[pa]=ਡੈਨਿਸ਼
Name[pl]=Duński
Name[ps]=ډېنېش
Name[pt]=Dinamarquês
Name[pt_BR]=Dinamarquês
Name[ro]=Daneză
Name[ru]=Датский
Name[se]=Dánskkagiella
Name[si]=ඩෙන්මාර්ක
Name[sk]=Dánčina
Name[sl]=Danščina
Name[sq]=Danisht
Name[sr]=дански
Name[sr@ijekavian]=дански
Name[sr@ijekavianlatin]=danski
Name[sr@latin]=danski
Name[sv]=Danska
Name[ta]=டேனிஷ்
Name[te]=డెనిష్
Name[tg]=Даниягӣ
Name[th]=ภาษาเดนมาร์ก
Name[tr]=Danca
Name[tt]=Дания
Name[ug]=دانىشچە
Name[uk]=Данська
Name[uz]=Daniyacha
Name[uz@cyrillic]=Данияча
Name[vi]=Tiếng Đan Mạch
Name[wa]=Daenwès
Name[xh]=Danish
Name[x-test]=xxDanishxx
Name[zh_CN]=丹麦语
Name[zh_HK]=丹麥語
Name[zh_TW]=丹麥語
