[KCM Locale]
Name=Spanish
Name[af]=Spaanse
Name[ar]=الإسبانيّة
Name[as]=স্পেনিশ্ব
Name[az]=İspan dilində
Name[be]=Іспанская
Name[be@latin]=Ispanskaja
Name[bg]=Испански
Name[bn]=স্প্যানিশ
Name[bn_IN]=স্প্যানিশ
Name[br]=Spagnoleg
Name[bs]=španski
Name[ca]=Espanyol
Name[ca@valencia]=Espanyol
Name[cs]=Španělský
Name[csb]=Szpańsczi
Name[cy]=Sbaeneg
Name[da]=Spansk
Name[de]=Spanisch
Name[el]=Ισπανικά
Name[en_GB]=Spanish
Name[eo]=Hispana
Name[es]=Español
Name[et]=Hispaania
Name[eu]=Gaztelania
Name[fa]=اسپانیایی
Name[fi]=Espanja
Name[fr]=Espagnol
Name[fy]=Spaansk
Name[ga]=Spáinnis
Name[gd]=Spàinntis
Name[gl]=Castelán
Name[gu]=સ્પેનીશ
Name[he]=ספרדית
Name[hi]=स्पेनी
Name[hne]=स्पेनी
Name[hr]=Španjolski
Name[hsb]=Španisce
Name[hu]=Spanyol
Name[ia]=Espaniol 
Name[id]=Spanyol
Name[is]=Spænska
Name[it]=Spagnolo
Name[ja]=スペイン語
Name[ka]=ესპანური
Name[kk]=Испанша
Name[km]=អេស្ប៉ាញ
Name[kn]=ಸ್ಪ್ಯಾನಿಷ್
Name[ko]=스페인어
Name[ku]=Spanî
Name[lb]=Spuenesch
Name[lt]=Ispanų
Name[lv]=Spāņu
Name[mai]=स्पेनी
Name[mk]=Шпански
Name[ml]=സ്പാനിഷ്
Name[mr]=स्पॅनिश
Name[ms]=Sepanyol
Name[nb]=Spansk
Name[nds]=Spaansch
Name[ne]=स्पेनिस
Name[nl]=Spaans
Name[nn]=Spansk
Name[oc]=Castelhan
Name[or]=ସ୍ପେନିସ
Name[pa]=ਸਪੇਨੀ
Name[pl]=Hiszpański
Name[ps]=سپېنېش
Name[pt]=Espanhol
Name[pt_BR]=Espanhol
Name[ro]=Spaniolă
Name[ru]=Испанский
Name[se]=Spánskkagiella
Name[si]=ස්පාඤ්ඤ
Name[sk]=Španielčina
Name[sl]=Španščina
Name[sq]=Spanjollisht
Name[sr]=шпански
Name[sr@ijekavian]=шпански
Name[sr@ijekavianlatin]=španski
Name[sr@latin]=španski
Name[sv]=Spanska
Name[ta]=ஸ்பானியம்
Name[te]=స్పెనిష్
Name[tg]=Испанӣ
Name[th]=ภาษาสเปน
Name[tr]=İspanyolca
Name[tt]=Испан
Name[ug]=ئىسپانچە
Name[uk]=Іспанська
Name[uz]=Ispancha
Name[uz@cyrillic]=Испанча
Name[vi]=Tiếng Tây Ban Nha
Name[wa]=Castiyan
Name[xh]=isipanishi
Name[x-test]=xxSpanishxx
Name[zh_CN]=西班牙语
Name[zh_HK]=西班牙語
Name[zh_TW]=西班牙語
