[KCM Locale]
Name=Finnish
Name[af]=Feense
Name[ar]=الفنلنديّة
Name[as]=ফিনিশ্ব
Name[az]=Fin dilində
Name[be]=Фінская
Name[be@latin]=Finskaja
Name[bg]=Фински
Name[bn]=ফিনিশ
Name[bn_IN]=ফিনিশ
Name[br]=Finneg
Name[bs]=finski
Name[ca]=Finès
Name[ca@valencia]=Finés
Name[cs]=Finský
Name[csb]=Finsczi
Name[cy]=Ffinneg
Name[da]=Finsk
Name[de]=Finnisch
Name[el]=Φινλανδικά
Name[en_GB]=Finnish
Name[eo]=Finna
Name[es]=Finés
Name[et]=Soome
Name[eu]=Finlandiera
Name[fa]=فنلاندی
Name[fi]=Suomi
Name[fr]=Finnois
Name[fy]=Finsk
Name[ga]=Fionlainnis
Name[gd]=Fionnlannais
Name[gl]=Finlandés
Name[gu]=ફિનિશ
Name[he]=פינית
Name[hi]=फिनिश
Name[hne]=फिनिस
Name[hr]=Finski
Name[hsb]=Finsce
Name[hu]=Finn
Name[ia]=Finnese 
Name[id]=Finlandia
Name[is]=Finnska
Name[it]=Finlandese
Name[ja]=フィンランド語
Name[ka]=ფინური
Name[kk]=Финнша
Name[km]=ហ្វាំងឡង់
Name[kn]=ಫಿನ್ನಿಷ್
Name[ko]=핀란드어
Name[ku]=Finkî
Name[lb]=Finnesch
Name[lt]=Suomių
Name[lv]=Somu
Name[mai]=फिनिश
Name[mk]=Фински
Name[ml]=ഫിന്നിഷ്
Name[mr]=फिनिश
Name[ms]=Finnish
Name[nb]=Finsk
Name[nds]=Finnsch
Name[ne]=फिनिश
Name[nl]=Fins
Name[nn]=Finsk
Name[oc]=Finés
Name[or]=ଫିନିସ
Name[pa]=ਫੈਨਿਸ਼
Name[pl]=Fiński
Name[ps]=فېنېش
Name[pt]=Finlandês
Name[pt_BR]=Finlandês
Name[ro]=Finlandeză
Name[ru]=Финский
Name[se]=Suomagiella
Name[si]=ෆින්ලන්ත
Name[sk]=Fínčina
Name[sl]=Finščina
Name[sq]=Finlandisht
Name[sr]=фински
Name[sr@ijekavian]=фински
Name[sr@ijekavianlatin]=finski
Name[sr@latin]=finski
Name[sv]=Finska
Name[ta]=பிஃன்னிசு
Name[te]=ఫిన్నిష్
Name[tg]=Финӣ
Name[th]=ภาษาฟินแลนด์
Name[tr]=Fince
Name[tt]=Фин
Name[ug]=فىنچە
Name[uk]=Фінська
Name[uz]=Fincha
Name[uz@cyrillic]=Финча
Name[vi]=Tiếng Phần Lan
Name[wa]=Finwès
Name[xh]=Finnish
Name[x-test]=xxFinnishxx
Name[zh_CN]=芬兰语
Name[zh_HK]=芬蘭語
Name[zh_TW]=芬蘭語
