body {
    font-family: sans-serif;
    font-size: 12pt;
    margin: 3em;
    color: #444;
}

h2 {
    font-size: 14pt;
    margin-top: 2em;
}

#footer {
    margin-top: 4em;
    font-size: 8pt;
}

table.history {
    margin-top: 20px;
    font-size: 10pt;
}

th, td {
    white-space: nowrap;
    padding-right: 8px;
    text-align: left;
}

th.numeric, td.numeric {
    text-align: right;
}

th.test-execution {
    font-size: 14pt;
    padding-top: 1em;
}

.chart {
    width: 1000px;
    height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chart p {
    font-size: 8pt;
    color: #a0a0a0;
    text-align: center;
}

#tooltip {
    position: absolute;
    display: none;
    font-size: 10pt;
    background-color: #fee;
    border: solid 1px #fdd;
    opacity: 0.80;
    padding: 3px;
}