[KCM Locale]
Name=Japanese
Name[af]=Japanese
Name[ar]=اليابانيّة
Name[as]=জাপানী
Name[az]=Yapon dilində
Name[be]=Японская
Name[be@latin]=Japonskaja
Name[bg]=Японски
Name[bn]=জাপানী
Name[bn_IN]=জাপানি
Name[br]=Japaneg
Name[bs]=japanski
Name[ca]=Japonès
Name[ca@valencia]=Japonés
Name[cs]=Japonský
Name[csb]=Japòńsczi
Name[cy]=Tsiapaneg
Name[da]=Japansk
Name[de]=Japanisch
Name[el]=Ιαπωνικά
Name[en_GB]=Japanese
Name[eo]=Japana
Name[es]=Japonés
Name[et]=Jaapani
Name[eu]=Japoniera
Name[fa]=ژاپنی
Name[fi]=Japani
Name[fr]=Japonais
Name[fy]=Japansk
Name[ga]=Seapáinis
Name[gd]=Seapanais
Name[gl]=Xaponés
Name[gu]=જાપાનીઝ
Name[he]=יפנית
Name[hi]=जापानी
Name[hne]=जापानी
Name[hr]=Japanski
Name[hsb]=Japansce
Name[hu]=Japán
Name[ia]=Japonese 
Name[id]=Jepang
Name[is]=Japanska
Name[it]=Giapponese
Name[ja]=日本語
Name[ka]=იაპონური
Name[kk]=Жапонша
Name[km]=ជប៉ុន
Name[kn]=ಜಪಾನೀಸ್
Name[ko]=일본어
Name[ku]=Japonî
Name[lb]=Japanesch
Name[lt]=Japonų
Name[lv]=Japāņu
Name[mai]=जापानी
Name[mk]=Јапонски
Name[ml]=ജാപ്പനീസ്
Name[mr]=जपानी
Name[ms]=Jepun
Name[nb]=Japansk
Name[nds]=Japaansch
Name[ne]=जापानी
Name[nl]=Japans
Name[nn]=Japansk
Name[oc]=Japonés
Name[or]=ଜାପାନିଜ
Name[pa]=ਜਾਪਾਨੀ
Name[pl]=Japoński
Name[ps]=جاپاني
Name[pt]=Japonês
Name[pt_BR]=Japonês
Name[ro]=Japoneză
Name[ru]=Японский
Name[se]=Jáhpangiella
Name[si]=ජපන්
Name[sk]=Japončina
Name[sl]=Japonščina
Name[sq]=Japonisht
Name[sr]=јапански
Name[sr@ijekavian]=јапански
Name[sr@ijekavianlatin]=japanski
Name[sr@latin]=japanski
Name[sv]=Japanska
Name[ta]=ஜப்பானியம்
Name[te]=జపనీస్
Name[tg]=Ҷопонӣ
Name[th]=ภาษาญี่ปุ่น
Name[tr]=Japonca
Name[tt]=Япон
Name[ug]=ياپونچە
Name[uk]=Японська
Name[uz]=Yaponcha
Name[uz@cyrillic]=Японча
Name[vi]=Tiếng Nhật
Name[wa]=Djaponès
Name[xh]=Japanese
Name[x-test]=xxJapanesexx
Name[zh_CN]=日语
Name[zh_HK]=日語
Name[zh_TW]=日語
