<h1>Downloads</h1>
<a name="current"></a>
<h2>${currentRelease.displayName}</h2>
<ul>
    <li><a href="${currentRelease.releaseNotesUrl}">Release notes</a></li>
    <li><a href="${currentRelease.allDistributionUrl}">gradle-${currentRelease.version}-all.zip</a>.
        Complete distribution, including documentation, samples, and source.</li>
    <li><a href="${currentRelease.binDistributionUrl}">gradle-${currentRelease.version}-bin.zip</a>.
        Minimal distribution.</li>
    <li><a href="${currentRelease.srcDistributionUrl}">gradle-${currentRelease.version}-src.zip</a>.
        Source only distribution</li>
</ul>
<p>You can also <a href="build.html">build from source</a>.</p>

<h2>Gradle nightly</h2>
<p>For snapshots we use our <a href="http://repo.gradle.org/gradle/distributions-snapshots">Artifactory snapshot repository</a>.
    The recommended way to start using the snapshot: First, find the interesting distribution in the repository,
    then use it to configure the <a href="${currentRelease.userGuideSingleHtmlUrl}#gradle_wrapper">wrapper</a>.
    Alternatively, you can manually download the snapshot distribution from the repository and install it locally.
</p>

<p>Note: old snapshots are periodically deleted. It's generally a good idea to copy the snapshot to some other location, and refer to it from
there.</p>

<h1>Other releases</h1>

<%
    releases.each { release ->
    if (release != currentRelease) {
%>
<h2>${release.displayName}</h2>
<% if (release.broken) { %><div class="caution">Note: this release contains some serious regressions, and we suggest that you use <a href="#current">${currentRelease.version}</a> instead.</div><% } %>
<ul>
    <li><a href="${release.releaseNotesUrl}">Release notes</a></li>
    <li><a href="${release.allDistributionUrl}">gradle-${release.version}-all.zip</a>.
        Complete distribution, including documentation, samples, and source.</li>
    <li><a href="${release.binDistributionUrl}">gradle-${release.version}-bin.zip</a>.
        Minimal distribution.</li>
    <li><a href="${release.srcDistributionUrl}">gradle-${release.version}-src.zip</a>.
        Source only distribution</li>
</ul>

<% } } %>

<h2>Older Releases</h2>

<p>You can find older releases at our <a href="http://repo.gradle.org/gradle/distributions">Artifactory distribution repository</a>
and even older releases at our <a href="http://dist.codehaus.org/gradle">Codehaus distribution repository</a>.</p>