<h1>User Guide</h1>

<% releases.each { release -> %>
<h2>${release.title} (${release.version})</h2>
<ul>
    <li><a href="${release.version}/docs/userguide/userguide.html">HTML</a> (one page per chapter)</li>
    <li><a href="${release.version}/docs/userguide/userguide_single.html">HTML</a> (single page)</li>
    <li><a href="${release.version}/docs/userguide/userguide.pdf">PDF</a></li>
</ul>
<% } %>    
<h2>Latest Nightly</h2>
<p>These are uploaded by the latest successful nightly build</p>
<ul>
    <li><a href="latest/docs/userguide/userguide.html">HTML</a> (one page per chapter)</li>
    <li><a href="latest/docs/userguide/userguide_single.html">HTML</a> (single page)</li>
    <li><a href="latest/docs/userguide/userguide.pdf">PDF</a></li>
</ul>



