[KCM Locale]
Name=Estonian
Name[af]=Estonianse
Name[ar]=الإستونيّة
Name[as]=ইস্টোনিয়ান
Name[az]=Eston dilində
Name[be]=Эстонская
Name[be@latin]=Estonskaja
Name[bg]=Естонски
Name[bn]=এস্টোনীয়
Name[bn_IN]=এস্তোনিয়ান
Name[br]=Estoneg
Name[bs]=estonski
Name[ca]=Estonià
Name[ca@valencia]=Estonià
Name[cs]=Estonský
Name[csb]=Estońsczi
Name[cy]=Estoneg
Name[da]=Estisk
Name[de]=Estnisch
Name[el]=Εσθονικά
Name[en_GB]=Estonian
Name[eo]=Estona
Name[es]=Estonio
Name[et]=Eesti
Name[eu]=Estoniera
Name[fa]=استونی
Name[fi]=Viro
Name[fr]=Estonien
Name[fy]=Estsk
Name[ga]=Eastóinis
Name[gd]=Eastoinis
Name[gl]=Estoniano
Name[gu]=એસ્ટોનિયન
Name[he]=אסטונית
Name[hi]=एस्तोनियाई
Name[hne]=एस्तोनियाई
Name[hr]=Estonski
Name[hsb]=Estnisce
Name[hu]=Észt
Name[ia]=Estonian 
Name[id]=Estonia
Name[is]=Eistneska
Name[it]=Estone
Name[ja]=エストニア語
Name[ka]=ესტონური
Name[kk]=Эстонша
Name[km]=អេស្តូនី
Name[kn]=ಎಸ್ಚೋನಿಯನ್
Name[ko]=에스토니아어
Name[ku]=Estonî
Name[lb]=Eestnesch
Name[lt]=Estų
Name[lv]=Igauņu
Name[mai]=एस्तोनियाइ
Name[mk]=Естонски
Name[ml]=എസ്ടോണിയന്‍
Name[mr]=एस्तोनियाई
Name[ms]=Estonian
Name[nb]=Estisk
Name[nds]=Eestlannsch
Name[ne]=इस्टोनियाली
Name[nl]=Ests
Name[nn]=Estisk
Name[oc]=Estonian
Name[or]=ଏସ୍ଟୋନିୟନ
Name[pa]=ਇਸਟੋਨੀਅਨ
Name[pl]=Estoński
Name[ps]=اېسټونيايي
Name[pt]=Estónio
Name[pt_BR]=Estoniano
Name[ro]=Estoniană
Name[ru]=Эстонский
Name[se]=Esttegiella
Name[si]=එස්තෝනියානු
Name[sk]=Estónčina
Name[sl]=Estonščina
Name[sq]=Estonisht
Name[sr]=естонски
Name[sr@ijekavian]=естонски
Name[sr@ijekavianlatin]=estonski
Name[sr@latin]=estonski
Name[sv]=Estniska
Name[ta]=எஸ்டோனிய
Name[te]=ఎస్టొనియన్
Name[tg]=Эстонӣ
Name[th]=ภาษาเอสโทเนีย
Name[tr]=Estonca
Name[tt]=Эстон
Name[ug]=ئېستونچە
Name[uk]=Естонська
Name[uz]=Estoncha
Name[uz@cyrillic]=Эстонча
Name[vi]=Tiếng Estonia
Name[wa]=Estonyin
Name[xh]=Estonian
Name[x-test]=xxEstonianxx
Name[zh_CN]=爱沙尼亚语
Name[zh_HK]=愛沙尼亞語
Name[zh_TW]=愛沙尼亞語
