[KCM Locale]
Name=Slovak
Name[af]=Slovakiese
Name[ar]=السلوفاكية
Name[as]=স্লোভাক
Name[az]=Slovak dilində
Name[be]=Славацкая
Name[be@latin]=Slavackaja
Name[bg]=Словашки
Name[bn]=স্লোভাক
Name[bn_IN]=স্লোভাক
Name[br]=Sloveg
Name[bs]=slovački
Name[ca]=Eslovac
Name[ca@valencia]=Eslovac
Name[cs]=Slovenský
Name[csb]=Słowacczi
Name[cy]=Slofac
Name[da]=Slovakisk
Name[de]=Slowakisch
Name[el]=Σλοβακικά
Name[en_GB]=Slovak
Name[eo]=Slovaka
Name[es]=Eslovaco
Name[et]=Slovaki
Name[eu]=Eslovakiera
Name[fa]=اسلواک
Name[fi]=Slovakki
Name[fr]=Slovaque
Name[fy]=Slovaaks
Name[ga]=Slóvaicis
Name[gd]=Slòbhacais
Name[gl]=Eslovaco
Name[gu]=સ્લોવેક
Name[hi]=स्लोवाक
Name[hne]=स्लोवाक
Name[hr]=Slovački
Name[hsb]=Słowaksce
Name[hu]=Szlovák
Name[ia]=Slovaco 
Name[id]=Slovak
Name[is]=Slóvakíska
Name[it]=Slovacco
Name[ja]=スロバキア語
Name[ka]=სლოვაკური
Name[kk]=Словакша
Name[km]=ស្លូវ៉ាគី
Name[kn]=ಸ್ಲೋವಾಕ್
Name[ko]=슬로바키아어
Name[ku]=Slovakî
Name[lb]=Slovakesch
Name[lt]=Slovakų
Name[lv]=Slovāku
Name[mai]=स्लोवाक
Name[mk]=Словачки
Name[ml]=സ്ലോവാക്ക്
Name[mr]=स्लोवाक
Name[ms]=Slovak
Name[nb]=Slovakisk
Name[nds]=Slowaaksch
Name[ne]=स्लोभाकी
Name[nl]=Slowaaks
Name[nn]=Slovakisk
Name[oc]=Eslovac
Name[or]=ସ୍ଲୋଭାକ
Name[pa]=ਸਲੋਵਾਕ
Name[pl]=Słowacki
Name[ps]=سلواک
Name[pt]=Eslovaco
Name[pt_BR]=Eslovaco
Name[ro]=Slovacă
Name[ru]=Словацкий
Name[se]=Slovákagiella
Name[si]=ස්ලෝවැක්
Name[sk]=Slovenčina
Name[sl]=Slovaščina
Name[sq]=Sllovakisht
Name[sv]=Slovakiska
Name[ta]=சுலோவாக்
Name[te]=స్లొవక్
Name[tg]=Словакӣ
Name[th]=ภาษาสโลวัก
Name[tr]=Slovakça
Name[tt]=Словак
Name[ug]=سىلوۋاكچە
Name[uk]=Словацька
Name[uz]=Slovakcha
Name[uz@cyrillic]=Словакча
Name[vi]=Tiếng Slovak
Name[wa]=Eslovake
Name[xh]=Slovak
Name[x-test]=xxSlovakxx
Name[zh_CN]=斯洛伐克语
Name[zh_HK]=斯洛伐克語
Name[zh_TW]=斯洛伐克語
