[KCM Locale]
Name=Norwegian Nynorsk
Name[af]=Noörweese Nynorsk
Name[ar]=النرويجيّة (نينورسك)
Name[as]=ন'ৰ্ৱেইয়ান নিন'ৰ্স্ক
Name[az]=Norveç (Nyunorsk) dilində
Name[be]=Нарвежская (нюнорск)
Name[be@latin]=Narviežskaja (niunorsk)
Name[bg]=Норвежки (нюнорск)
Name[bn]=নরওয়েজীয় নিনর্স্ক
Name[bn_IN]=নরওয়েজিয়ান নিনোরস্ক
Name[br]=Norvegeg Nynorsk
Name[bs]=novonorveški
Name[ca]=Noruec nynorsk
Name[ca@valencia]=Noruec nynorsk
Name[cs]=Norský (Nynorsk)
Name[csb]=Norwesczi Nynorsk
Name[cy]=Nynorsk Norwyeg
Name[da]=Nynorsk
Name[de]=Norwegisch (Nynorsk)
Name[el]=Νορβηγικά (Nynorsk)
Name[en_GB]=Norwegian Nynorsk
Name[eo]=Norvega (Nynorsk)
Name[es]=Noruego Nynorsk
Name[et]=Norra Nynorsk
Name[eu]=Norvegiera Nynorsk
Name[fa]=نرس جدید نروژی
Name[fi]=Norja (nynorsk)
Name[fr]=Norvégien Nynorsk
Name[fy]=Noarsk, Nynorsk
Name[ga]=Ioruais (Nynorsk)
Name[gd]=Nynorsk na Nirribhidh
Name[gl]=Noruegués Nynorsk
Name[gu]=નોર્વેયન નોર્સક
Name[he]=נורבגית (Nynorsk)
Name[hi]=नारवेजियाई नायनोर्सक
Name[hne]=नारवेजियाई नायनोर्सक
Name[hr]=Norveški nynorsk
Name[hsb]=Norwegsce (Nynorsk)
Name[hu]=Norvég (nynorsk)
Name[ia]=Norvegiano Nynorsk 
Name[id]=Nynorsk Norwegia
Name[is]=Norska (nýnorska)
Name[it]=Norvegese nynorsk
Name[ja]=ノルウェー語 (ニーノシュク)
Name[ka]=ნორვეგიული ნიუნორსკი
Name[kk]=Новег нунорскша
Name[km]=ន័រវែស នីនូស
Name[kn]=ನಾರ್ವೇಯಿಯನ್ ನಿನಾರ್ಕ್
Name[ko]=노르웨이어(뉘노르스크)
Name[ku]=Norwêcî Nynorsk
Name[lb]=Norwegeschen Nynorsk
Name[lt]=Norvegų Nynorsk
Name[lv]=Norvēģu (Ņūnorskas)
Name[mai]=नार्वेजियन न्योनोर्स्क
Name[mk]=Норвешки (Nynorsk)
Name[ml]=നോര്‍വീജിയന്‍ ന്യോര്‍സ്ക്
Name[mr]=नार्वेजियन नींओर्स्क
Name[ms]=Norwegian Nynorsk
Name[nb]=Norsk (nynorsk)
Name[nds]=Norweegsch (Nynorsk)
Name[ne]=नर्वेली निनोर्स्क
Name[nl]=Noors Nynorsk
Name[nn]=Norsk (nynorsk)
Name[oc]=Nòrvegian (Nynorsk)
Name[or]=ନରୱେୟିନ ନୟନରସ୍କ
Name[pa]=ਨਾਰਵੇਗੀਅਨ ਨਿਉਨੋਰਸਕ
Name[pl]=Norweski Nynorsk
Name[ps]=ناروېجني نېنورسک
Name[pt]=Norueguês (Nynorsk)
Name[pt_BR]=Novo Norueguês
Name[ro]=Norvegiană Nynorsk
Name[ru]=Норвежский (нюнорск)
Name[se]=Ođđadárogiella
Name[si]=නොර්වෙජියානු නයිරොක්ස්
Name[sk]=Nórčina (Nynorsk)
Name[sl]=Novonorveščina
Name[sr]=новонорвешки
Name[sr@ijekavian]=новонорвешки
Name[sr@ijekavianlatin]=novonorveški
Name[sr@latin]=novonorveški
Name[sv]=Norska Nynorska
Name[ta]=நார்வேயின் நைநாருஸ்க்
Name[te]=నర్విజియన్ న్యొర్క్స్
Name[tg]=Норвегиягии Нюнорскӣ
Name[th]=ภาษานอร์เวย์ (นูนอร์สคฺ)
Name[tr]=Nynorsk Norveççesi
Name[tt]=Норвегия (Нинорск)
Name[ug]=نورۋېگىيە ناينوركس
Name[uk]=Норвезька (Nynorsk)
Name[uz]=Norvegcha Nynorsk
Name[uz@cyrillic]=Норвегча Нйнорск
Name[vi]=Tiếng Nynorsk Na Uy
Name[wa]=Noû-Norvedjin (Nynorsk)
Name[x-test]=xxNorwegian Nynorskxx
Name[zh_CN]=挪威尼诺斯克语
Name[zh_HK]=新挪威語
Name[zh_TW]=挪威語（尼諾斯克語）
