[KCM Locale]
Name=Swedish
Name[af]=Sweedse
Name[ar]=السّويديّة
Name[as]=চুইদিশ্ব
Name[az]=İsveç dilində
Name[be]=Шведская
Name[be@latin]=Šviedskaja
Name[bg]=Шведски
Name[bn]=সুইডিশ
Name[bn_IN]=সুইডিশ
Name[br]=Svedeg
Name[bs]=švedski
Name[ca]=Suec
Name[ca@valencia]=Suec
Name[cs]=Švédský
Name[csb]=Szwedzczi
Name[cy]=Swedeg
Name[da]=Svensk
Name[de]=Schwedisch
Name[el]=Σουηδικά
Name[en_GB]=Swedish
Name[eo]=Sveda
Name[es]=Sueco
Name[et]=Rootsi
Name[eu]=Suediera
Name[fa]=سوئدی
Name[fi]=Ruotsi
Name[fr]=Suédois
Name[fy]=Sweedsk
Name[ga]=Sualainnis
Name[gd]=Suainis
Name[gl]=Sueco
Name[gu]=સ્વીડિશ
Name[he]=שבדית
Name[hi]=स्वीडिश
Name[hne]=स्वीडिस
Name[hr]=Švedski
Name[hsb]=Šwedsce
Name[hu]=Svéd
Name[ia]=Svedo
Name[id]=Swedia
Name[is]=Sænska
Name[it]=Svedese
Name[ja]=スウェーデン語
Name[ka]=შვედური
Name[kk]=Шведше
Name[km]=ស៊ុយអែដ
Name[kn]=ಸ್ವೀಡಿಷ್
Name[ko]=스웨덴어
Name[ku]=Swêdî
Name[lb]=Schwedesch
Name[lt]=Švedų
Name[lv]=Zviedru
Name[mai]=स्वीडिश
Name[mk]=Шведски
Name[ml]=സ്വീഡിഷ്
Name[mr]=स्वीडिश
Name[ms]=Swedish
Name[nb]=Svensk
Name[nds]=Sweedsch
Name[ne]=स्विडिश
Name[nl]=Zweeds
Name[nn]=Svensk
Name[oc]=Suedés
Name[or]=ସ୍ୱେଡିସ
Name[pa]=ਸਵੀਡਿਸ਼
Name[pl]=Szwedzki
Name[ps]=سوېډېني
Name[pt]=Sueco
Name[pt_BR]=Sueco
Name[ro]=Suedeză
Name[ru]=Шведский
Name[se]=Ruoŧagiella
Name[si]=ස්වීඩන
Name[sk]=Švédčina
Name[sl]=Švedščina
Name[sq]=Suedisht
Name[sr]=шведски
Name[sr@ijekavian]=шведски
Name[sr@ijekavianlatin]=švedski
Name[sr@latin]=švedski
Name[sv]=Svenska
Name[ta]=சுவீடிஷ்
Name[te]=స్విడిష్
Name[tg]=Шведӣ
Name[th]=ภาษาสวีเดน
Name[tr]=İsveççe
Name[tt]=Швед
Name[ug]=شۋېدچە
Name[uk]=Шведська
Name[uz]=Shvedcha
Name[uz@cyrillic]=Шведча
Name[vi]=Tiếng Thuỵ Điển
Name[wa]=Suwedwès
Name[xh]=Swedish
Name[x-test]=xxSwedishxx
Name[zh_CN]=瑞典语
Name[zh_HK]=瑞典語
Name[zh_TW]=瑞典語
