[KCM Locale]
Name=Ukrainian
Name[af]=Ukraïniese
Name[ar]=الأوكرانيّة
Name[as]=ইউক্ৰেনিয়ান
Name[az]=Ukrayna dilində
Name[be]=Украінская
Name[be@latin]=Ukrainskaja
Name[bg]=Украински
Name[bn]=ইউক্রেনীয়
Name[bn_IN]=ইউক্রেনিয়ান
Name[br]=Ukrainiek
Name[bs]=ukrajinski
Name[ca]=Ucraïnès
Name[ca@valencia]=Ucraïnés
Name[cs]=Ukrajinský
Name[csb]=Ùkrajińsczi
Name[cy]=Wcraineg
Name[da]=Ukrainsk
Name[de]=Ukrainisch
Name[el]=Ουκρανικά
Name[en_GB]=Ukrainian
Name[eo]=Ukraina
Name[es]=Ucraniano
Name[et]=Ukraina
Name[eu]=Ukrainera
Name[fa]=اوکراینی
Name[fi]=Ukraina
Name[fr]=Ukrainien
Name[fy]=Oekraïnsk
Name[ga]=Úcráinis
Name[gd]=Ucràinis
Name[gl]=Ucraíno
Name[gu]=યુક્રેનિયન
Name[he]=אוקראינית
Name[hi]=उक्रेनियाई
Name[hne]=उक्रेनियाई
Name[hr]=Ukrajinski
Name[hsb]=Ukrainsce
Name[hu]=Ukrán
Name[ia]=Ucrainiano
Name[id]=Ukrainia
Name[is]=Úkraínska
Name[it]=Ucraino
Name[ja]=ウクライナ語
Name[ka]=უკრაინული
Name[kk]=Украинша
Name[km]=អ៊ុយក្រែន
Name[kn]=ಯುಕ್ರೇನಿಯನ್
Name[ko]=우크라이나어
Name[ku]=Ûkraynayî
Name[lb]=Ukrainesch
Name[lt]=Ukrainiečių
Name[lv]=Ukraiņu
Name[mai]=युक्रेनियन
Name[mk]=Украински
Name[ml]=ഉക്രൈനിയന്‍
Name[mr]=यूक्रेनियन
Name[ms]=Ukrainia
Name[nb]=Ukrainsk
Name[nds]=Ukrainsch
Name[ne]=युक्रेनी
Name[nl]=Oekraïens
Name[nn]=Ukrainsk
Name[oc]=Ucraïnian
Name[or]=ୟୁକ୍ରେନିୟନ
Name[pa]=ਯੂਕਰੇਨੀ
Name[pl]=Ukraiński
Name[ps]=اکرېني
Name[pt]=Ucraniano
Name[pt_BR]=Ucraniano
Name[ro]=Ucrainiană
Name[ru]=Украинский
Name[se]=Ukrainagiella
Name[si]=යුක්‍රේනියානු
Name[sk]=Ukrajinčina
Name[sl]=Ukrajinščina
Name[sq]=Ukrahinisht
Name[sr]=украјински
Name[sr@ijekavian]=украјински
Name[sr@ijekavianlatin]=ukrajinski
Name[sr@latin]=ukrajinski
Name[sv]=Ukrainska
Name[ta]=உக்ரேனியம்
Name[te]=ఉక్రెనియన్
Name[tg]=Украинӣ
Name[th]=ภาษายูเครน
Name[tr]=Ukraynaca
Name[tt]=Украин
Name[ug]=ئۇكرائىنچە
Name[uk]=Українська
Name[uz]=Ukraincha
Name[uz@cyrillic]=Украинча
Name[vi]=Tiếng Ukraine
Name[wa]=Oucrinnyin
Name[xh]=Ukrainian
Name[x-test]=xxUkrainianxx
Name[zh_CN]=乌克兰语
Name[zh_HK]=烏克蘭語
Name[zh_TW]=烏克蘭語
