[KCM Locale]
Name=Bulgarian
Name[af]=Bulgaars
Name[ar]=البلغاريّة
Name[as]=বুল্গাৰীয়ান
Name[az]=Bolqar dilində
Name[be]=Балгарская
Name[be@latin]=Balharskaja
Name[bg]=Български
Name[bn]=বুলগেরিয়
Name[bn_IN]=বুলগেরিয়ান
Name[br]=Bulgareg
Name[bs]=bugarski
Name[ca]=Búlgar
Name[ca@valencia]=Búlgar
Name[cs]=Bulharský
Name[csb]=Bùlgarsczi
Name[cy]=Bulgareg
Name[da]=Bulgarsk
Name[de]=Bulgarisch
Name[el]=Βουλγαρικά
Name[en_GB]=Bulgarian
Name[eo]=Bulgara
Name[es]=Búlgaro
Name[et]=Bulgaaria
Name[eu]=Bulgariera
Name[fa]=بلغاری
Name[fi]=Bulgaria
Name[fr]=Bulgare
Name[fy]=Bulgaarsk
Name[ga]=Bulgáiris
Name[gd]=Bulgairis
Name[gl]=Búlgaro
Name[gu]=બલ્ગેરીયન
Name[he]=בולגרית
Name[hi]=बुल्गारियाई
Name[hne]=बुल्गारियाई
Name[hr]=Bugarski
Name[hsb]=Bołharsce
Name[hu]=Bolgár
Name[ia]=Bulgaro 
Name[id]=Bulgaria
Name[is]=Búlgarska
Name[it]=Bulgaro
Name[ja]=ブルガリア語
Name[ka]=ბულგარული
Name[kk]=Болғарша
Name[km]=ប៊ុលហ្ការី
Name[kn]=ಬಲ್ಗೇರಿಯನ್
Name[ko]=불가리아어
Name[ku]=Bulgarî
Name[lb]=Bulgaresch
Name[lt]=Bulgarų
Name[lv]=Bulgāru
Name[mai]=बुल्गारियाइ
Name[mk]=Бугарски
Name[ml]=ബള്‍ഗേറിയന്‍
Name[mr]=बुल्गारियाई
Name[ms]=Bulgaria
Name[nb]=Bulgarsk
Name[nds]=Bulgaarsch
Name[ne]=बुल्गेरियाली
Name[nl]=Bulgaars
Name[nn]=Bulgarsk
Name[oc]=Bulgar
Name[or]=ବୁଲଗାରିୟାନ
Name[pa]=ਬੁਲਗਾਰੀਆ
Name[pl]=Bułgarski
Name[ps]=بلګريايي
Name[pt]=Búlgaro
Name[pt_BR]=Búlgaro
Name[ro]=Bulgară
Name[ru]=Болгарский
Name[se]=Bulgáriagiella
Name[si]=බල්ගේරියානු
Name[sk]=Bulharčina
Name[sl]=Bolgarščina
Name[sq]=Bullgarisht
Name[sr]=бугарски
Name[sr@ijekavian]=бугарски
Name[sr@ijekavianlatin]=bugarski
Name[sr@latin]=bugarski
Name[sv]=Bulgariska
Name[ta]=பல்கேரியன்
Name[te]=బల్గెరియన్
Name[tg]=Булғорӣ
Name[th]=ภาษาบัลแกเรีย
Name[tr]=Bulgarca
Name[tt]=Болгар
Name[ug]=بۇلغارچە
Name[uk]=Болгарська
Name[uz]=Bolgarcha
Name[uz@cyrillic]=Болгарча
Name[vi]=Tiếng Bun-ga-ri
Name[wa]=Bulgåre
Name[xh]=Bulgarian
Name[x-test]=xxBulgarianxx
Name[zh_CN]=保加利亚语
Name[zh_HK]=保加利亞語
Name[zh_TW]=保加利亞語
