[KCM Locale]
Name=Slovenian
Name[af]=Sloveniese
Name[ar]=السّلوفينيّة
Name[as]=স্লোভেনিয়ান
Name[az]=Sloveniya dilində
Name[be]=Славенская
Name[be@latin]=Slavienskaja
Name[bg]=Словенски
Name[bn]=স্লোভেনীয়
Name[bn_IN]=স্লোভেনিয়ান
Name[br]=Slovenieg
Name[bs]=slovenački
Name[ca]=Eslovè
Name[ca@valencia]=Eslové
Name[cs]=Slovinský
Name[csb]=Slowensczi
Name[cy]=Slofeneg
Name[da]=Slovensk
Name[de]=Slowenisch
Name[el]=Σλοβενικά
Name[en_GB]=Slovenian
Name[eo]=Slovena
Name[es]=Esloveno
Name[et]=Sloveeni
Name[eu]=Esloveniera
Name[fa]=اسلوونیایی
Name[fi]=Sloveeni
Name[fr]=Slovène
Name[fy]=Sloveensk
Name[ga]=Slóivéinis
Name[gd]=Slòbhainis
Name[gl]=Esloveno
Name[gu]=સ્લોવેનિયન
Name[he]=סלובנית
Name[hi]=स्लोवेनियाई
Name[hne]=स्लोवेनियाई
Name[hr]=Slovenski
Name[hsb]=Słowjensce
Name[hu]=Szlovén
Name[ia]=Sloveno
Name[id]=Slovenia
Name[is]=Slóvenska
Name[it]=Sloveno
Name[ja]=スロベニア語
Name[ka]=სლოვენიური
Name[kk]=Словенше
Name[km]=ស្លូវ៉ានី
Name[kn]=ಸ್ಲೊಲೋವೇನಿಯನ್
Name[ko]=슬로베니아어
Name[ku]=Slovênî
Name[lb]=Slovenesch
Name[lt]=Slovėnų
Name[lv]=Slovēņu
Name[mai]=स्लोवानियाइ
Name[mk]=Словенечки
Name[ml]=സ്ലോവേനിയന്‍
Name[mr]=स्लोवेनियन
Name[ms]=Slovenia
Name[nb]=Slovensk
Name[nds]=Sloweensch
Name[ne]=स्लोभानियाली
Name[nl]=Sloveens
Name[nn]=Slovensk
Name[oc]=Eslovèn
Name[or]=ସ୍ଲୋଭେନିୟନ
Name[pa]=ਸਲੋਵੀਨੀਆਈ
Name[pl]=Słoweński
Name[ps]=سلووينين
Name[pt]=Esloveno
Name[pt_BR]=Esloveno
Name[ro]=Slovenă
Name[ru]=Словенский
Name[se]=Slovenagiella
Name[si]=ස්ලෝවීනියානු
Name[sk]=Slovinčina
Name[sl]=Slovenščina
Name[sq]=Sllovenisht
Name[sr]=словеначки
Name[sr@ijekavian]=словеначки
Name[sr@ijekavianlatin]=slovenački
Name[sr@latin]=slovenački
Name[sv]=Slovenska
Name[ta]=சுலோவீனியன்
Name[te]=స్లొవెనియన్
Name[tg]=Словенӣ
Name[th]=ภาษาสโลวีเนีย
Name[tr]=Slovence
Name[tt]=Словен
Name[ug]=سىلوۋېنىيەچە
Name[uk]=Словенська
Name[uz]=Sloveniancha
Name[uz@cyrillic]=Словенианча
Name[vi]=Tiếng Slovenia
Name[wa]=Eslovenyin
Name[xh]=Slovenian
Name[x-test]=xxSlovenianxx
Name[zh_CN]=斯洛文尼亚语
Name[zh_HK]=斯洛文尼亞語
Name[zh_TW]=斯洛文尼亞語
