[KCM Locale]
Name=Khmer
Name[af]=Khmer
Name[ar]=الخميريّة
Name[as]=খ্‌মেৰ
Name[az]=Khmer dilində
Name[be]=Кхмерская
Name[be@latin]=Kchmierskaja
Name[bg]=Кхмерски
Name[bn]=খমের
Name[bn_IN]=খমের
Name[br]=Kmereg
Name[bs]=kmerski
Name[ca]=Khmer
Name[ca@valencia]=Khmer
Name[cs]=Khmérské
Name[csb]=Khmersczi
Name[cy]=Khmer
Name[da]=Khmer
Name[de]=Khmer
Name[el]=Χμερ
Name[en_GB]=Khmer
Name[eo]=Kmera
Name[es]=Camboyano
Name[et]=Khmeeri
Name[eu]=Khmerera
Name[fa]=خمری
Name[fi]=Khmer
Name[fr]=Khmer
Name[fy]=Khmer
Name[ga]=Ciméiris
Name[gd]=Cmèar
Name[gl]=Khmer
Name[gu]=ખ્મેર
Name[he]=חמר
Name[hi]=ख्मेर
Name[hne]=ख्मेर
Name[hr]=Kmerski
Name[hsb]=Khmer
Name[hu]=Khmer
Name[ia]=Khmer 
Name[id]=Khmer
Name[is]=Khmer
Name[it]=Khmer
Name[ja]=クメール語
Name[ka]=კხმერული
Name[kk]=Кхмерше
Name[km]=ខ្មែរ
Name[kn]=ಖುಮೇರ್
Name[ko]=크메르어
Name[ku]=Khmer
Name[lb]=Khmer
Name[lt]=Chmerų
Name[lv]=Khmeru
Name[mai]=ख्मेर
Name[mk]=Кмерски
Name[ml]=ഖമര്‍
Name[mr]=ख्मेर
Name[ms]=Khmer
Name[nb]=Khmer
Name[nds]=Khmer
Name[ne]=खमेर
Name[nl]=Khmer
Name[nn]=Khmer
Name[oc]=Khmer
Name[or]=ଖ୍ମେର
Name[pa]=ਖਮੀਰ
Name[pl]=Khmer
Name[ps]=کمير
Name[pt]=Khmer
Name[pt_BR]=Cambojano
Name[ro]=Kmeră
Name[ru]=Кхмерский
Name[se]=Khmeragiella
Name[si]=ක්හ්මර්
Name[sk]=Khmérčina
Name[sl]=Kmerščina
Name[sr]=кмерски
Name[sr@ijekavian]=кмерски
Name[sr@ijekavianlatin]=kmerski
Name[sr@latin]=kmerski
Name[sv]=Kambodjanska
Name[ta]=குஹுமர்
Name[te]=ఖ్మెర్
Name[tg]=Хмерӣ
Name[th]=ภาษาเขมร
Name[tr]=Kmerce
Name[tt]=Кхмер
Name[ug]=كېخمېرچە
Name[uk]=Кхмерська
Name[uz]=Kxmer
Name[uz@cyrillic]=Кхмер
Name[vi]=Tiếng Khơ-me
Name[wa]=Xhmer
Name[x-test]=xxKhmerxx
Name[zh_CN]=高棉语
Name[zh_HK]=高棉語
Name[zh_TW]=高棉語
