[KCM Locale]
Name=Bosnian
Name[af]=Bosnise
Name[ar]=البوسنيّة
Name[az]=Bosniya dilində
Name[be]=Баснійская
Name[be@latin]=Basnijskaja
Name[bg]=Босненски
Name[br]=Bosnieg
Name[bs]=bosanski
Name[ca]=Bosnià
Name[ca@valencia]=Bosnià
Name[cs]=Bosenský
Name[cy]=Bosnieg
Name[da]=Bosnisk
Name[de]=Bosnisch
Name[el]=Βοσνιακά
Name[en_GB]=Bosnian
Name[eo]=Bosnia
Name[es]=Bosnio
Name[et]=Bosnia
Name[eu]=Bosniera
Name[fa]=بوسنیایی
Name[fi]=Bosnia
Name[fr]=Bosniaque
Name[fy]=Bosnysk
Name[ga]=Boisnis
Name[gd]=Bosnais
Name[gl]=Bosníaco
Name[gu]=બોસ્નિઅન
Name[he]=בוסנית
Name[hi]=बोस्नियाई
Name[hr]=Bosanski
Name[hu]=Bosnyák
Name[ia]=Bosnian
Name[id]=Bosnia
Name[is]=Bosníska
Name[it]=Bosniaco
Name[ja]=ボズニア語
Name[ka]=ბოსნიური
Name[kk]=Боснаша
Name[km]=បូស្នី
Name[ko]=보스니아어
Name[lb]=Bosnesch
Name[lt]=Bosnių
Name[lv]=Bosniešu
Name[mr]=बोस्नियन
Name[nb]=Bosnisk
Name[nds]=Bosnisch
Name[nl]=Bosnisch
Name[nn]=Bosnisk
Name[pa]=ਬੋਸਨੀਆ
Name[pl]=Bośniacki
Name[pt]=Bósnio
Name[pt_BR]=Bósnio
Name[ro]=Bosniacă
Name[ru]=Боснийский
Name[se]=Bosniagiella
Name[sk]=Bosniačtina
Name[sl]=Bosanščina
Name[sq]=Boshnjakisht
Name[sr]=бошњачки
Name[sr@ijekavian]=бошњачки
Name[sr@ijekavianlatin]=bošnjački
Name[sr@latin]=bošnjački
Name[sv]=Bosniska
Name[ta]=பொஸ்னியன்
Name[tg]=Босниягӣ
Name[tr]=Bosnaca
Name[tt]=Босния
Name[ug]=بوسنىيەچە
Name[uk]=Боснійська
Name[uz]=Bosniyacha
Name[uz@cyrillic]=Боснияча
Name[vi]=Tiếng Bosnia
Name[wa]=Bosnyin
Name[xh]=Bosnian
Name[x-test]=xxBosnianxx
Name[zh_CN]=波斯尼亚语
Name[zh_HK]=波斯尼亞語
Name[zh_TW]=波士尼亞語
