[KCM Locale]
Name=German
Name[af]=Duits
Name[ar]=الألمانيّة
Name[as]=জাৰ্মান
Name[az]=Alman dilində
Name[be]=Нямецкая
Name[be@latin]=Niamieckaja
Name[bg]=Немски
Name[bn]=জার্মান
Name[bn_IN]=জার্মান
Name[br]=Alamaneg
Name[bs]=njemački
Name[ca]=Alemany
Name[ca@valencia]=Alemany
Name[cs]=Německý
Name[csb]=Miemiecczi
Name[cy]=Almaeneg
Name[da]=Tysk
Name[de]=Deutsch
Name[el]=Γερμανικά
Name[en_GB]=German
Name[eo]=Germana
Name[es]=Alemán
Name[et]=Saksa
Name[eu]=Aleman
Name[fa]=آلمانی
Name[fi]=Saksa
Name[fr]=Allemand
Name[fy]=Dútsk
Name[ga]=Gearmáinis
Name[gd]=Gearmailtis
Name[gl]=Alemán
Name[gu]=જર્મન
Name[he]=גרמנית
Name[hi]=जर्मन
Name[hne]=जर्मन
Name[hr]=Njemački
Name[hsb]=Němsce
Name[hu]=Német
Name[ia]=Germano 
Name[id]=Jerman
Name[is]=Þýska
Name[it]=Tedesco
Name[ja]=ドイツ語
Name[ka]=გერმანული
Name[kk]=Немісше
Name[km]=អាល្លឺម៉ង់
Name[kn]=ಜರ್ಮನ್
Name[ko]=독일어
Name[ku]=Almanî
Name[lb]=Däitsch
Name[lt]=Vokiečių
Name[lv]=Vācu
Name[mai]=जर्मन
Name[mk]=Германски
Name[ml]=ജര്‍മ്മന്‍
Name[mr]=जर्मन
Name[ms]=Jerman
Name[nb]=Tysk
Name[nds]=Hoochdüütsch
Name[ne]=जर्मनी
Name[nl]=Duits
Name[nn]=Tysk
Name[oc]=Aleman
Name[or]=ଜର୍ମାନ
Name[pa]=ਜਰਮਨ
Name[pl]=Niemiecki
Name[ps]=جرمني
Name[pt]=Alemão
Name[pt_BR]=Alemão
Name[ro]=Germană
Name[ru]=Немецкий
Name[se]=Duiskkagiella
Name[si]=ජර්මානු
Name[sk]=Nemčina
Name[sl]=Nemščina
Name[sq]=Gjermanisht
Name[sr]=немачки
Name[sr@ijekavian]=њемачки
Name[sr@ijekavianlatin]=njemački
Name[sr@latin]=nemački
Name[sv]=Tyska
Name[ta]=ஜெர்மன்
Name[te]=జెర్మన్
Name[tg]=Олмонӣ
Name[th]=ภาษาเยอรมัน
Name[tr]=Almanca
Name[tt]=Алман
Name[ug]=گېرمانچە
Name[uk]=Німецька
Name[uz]=Olmoncha
Name[uz@cyrillic]=Олмонча
Name[vi]=Tiếng Đức
Name[wa]=Almand
Name[xh]=German
Name[x-test]=xxGermanxx
Name[zh_CN]=德语
Name[zh_HK]=德語
Name[zh_TW]=德語
