[KCM Locale]
Name=Catalan
Name[af]=Katelaans
Name[ar]=الكاتالانيّة
Name[as]=কাটালান
Name[az]=Katalon dilində
Name[be]=Каталанская
Name[be@latin]=Katalanskaja
Name[bg]=Каталонски
Name[bn]=ক্যাটালান
Name[bn_IN]=ক্যাটালান
Name[br]=Katalaneg
Name[bs]=katalonski
Name[ca]=Català
Name[ca@valencia]=Català
Name[cs]=Katalánský
Name[csb]=Katalońsczi
Name[cy]=Catalaneg
Name[da]=Catalansk
Name[de]=Katalanisch
Name[el]=Καταλανικά
Name[en_GB]=Catalan
Name[eo]=Kataluna
Name[es]=Catalán
Name[et]=Katalaani
Name[eu]=Katalana
Name[fa]=کاتالان
Name[fi]=Katalaani
Name[fr]=Catalan
Name[fy]=Katalaansk
Name[ga]=Catalóinis
Name[gd]=Catalanais
Name[gl]=Catalán
Name[gu]=કેટેલાન
Name[he]=קטלונית
Name[hi]=केटेलन
Name[hne]=केटेलन
Name[hr]=Katalonski
Name[hsb]=Katalansce
Name[hu]=Katalán
Name[ia]=Catalan 
Name[id]=Catalan
Name[is]=Katalónska
Name[it]=Catalano
Name[ja]=カタロニア語
Name[ka]=კატალანური
Name[kk]=Каталанша
Name[km]=កាតាឡាន
Name[kn]=ಕ್ಯಾಟಲಾನ್
Name[ko]=카탈루냐어
Name[ku]=Katalan
Name[lb]=Katalanesch
Name[lt]=Katalonų
Name[lv]=Kataloņu
Name[mai]=केटालान
Name[mk]=Каталонски
Name[ml]=കറ്റാലന്‍
Name[mr]=केटेलन
Name[ms]=Catalan
Name[nb]=Katalansk
Name[nds]=Katalaansch
Name[ne]=कातालान
Name[nl]=Catalaans
Name[nn]=Katalansk
Name[oc]=Catalan
Name[or]=କେଟାଲାନ
Name[pa]=ਕਾਟਾਲਾਨ
Name[pl]=Kataloński
Name[ps]=کېټېلېن
Name[pt]=Catalão
Name[pt_BR]=Catalão
Name[ro]=Catalană
Name[ru]=Каталонский
Name[se]=Katalánagiella
Name[si]=කැටලන්
Name[sk]=Katalánčina
Name[sl]=Katalonščina
Name[sq]=Katalanisht
Name[sr]=каталонски
Name[sr@ijekavian]=каталонски
Name[sr@ijekavianlatin]=katalonski
Name[sr@latin]=katalonski
Name[sv]=Katalanska
Name[ta]=கெடலான்
Name[te]=కెటలన్
Name[tg]=Каталанӣ
Name[th]=ภาษาคาตาลัน
Name[tr]=Katalanca
Name[tt]=Каталон
Name[ug]=كاتالانچە
Name[uk]=Каталанська
Name[uz]=Katalancha
Name[uz@cyrillic]=Каталанча
Name[vi]=Tiếng Catalan
Name[wa]=Catalan
Name[xh]=Catalan
Name[x-test]=xxCatalanxx
Name[zh_CN]=加泰罗尼亚语
Name[zh_HK]=加泰隆尼亞語
Name[zh_TW]=加泰羅尼亞語
