[KCM Locale]
Name=Galician
Name[af]=Galasiese
Name[ar]=الجليقيّة
Name[as]=গেলিচিয়ান
Name[az]=Qalisiya dilində
Name[be]=Галісійская
Name[be@latin]=Halisijskaja
Name[bg]=Галисийски
Name[bn]=গ্যালিকান
Name[bn_IN]=গেলিশিয়ান
Name[br]=Galiseg
Name[bs]=galicijski
Name[ca]=Gallec
Name[ca@valencia]=Gallec
Name[cs]=Galicijský
Name[csb]=Galicëjsczi
Name[cy]=Galiseg
Name[da]=Galicisk
Name[de]=Galizisch
Name[el]=Γαλικιανικά
Name[en_GB]=Galician
Name[eo]=Galega
Name[es]=Gallego
Name[et]=Galeegi
Name[eu]=Galiziera
Name[fa]=گالیسی
Name[fi]=Galicia
Name[fr]=Galicien
Name[fy]=Galysk
Name[ga]=Gailísis
Name[gd]=Gailìsis
Name[gl]=Galego
Name[gu]=ગેલિસીયન
Name[he]=גליסית
Name[hi]=गैलिसियाई
Name[hne]=गैलिसियाई
Name[hr]=Galicijski
Name[hsb]=Galicisce
Name[hu]=Galíciai
Name[ia]=Galleco 
Name[id]=Galician
Name[is]=Galisíska
Name[it]=Gallego
Name[ja]=ガリシア語
Name[ka]=გალური
Name[kk]=Галисияша
Name[km]=ហ្កាលីស៊ី
Name[kn]=ಗ್ಯಾಲೀಸಿಯನ್
Name[ko]=갈라시아어
Name[ku]=Galîkî
Name[lb]=Gallizesch
Name[lt]=Galiciečių
Name[lv]=Galiciāņu
Name[mai]=गेलिसियन
Name[mk]=Галициски
Name[ml]=ഗലീഷ്യന്‍
Name[mr]=गैलिसियाई
Name[ms]=Galician
Name[nb]=Galisisk
Name[nds]=Galizsch
Name[ne]=ग्यालेसियन
Name[nl]=Galicisch
Name[nn]=Galisisk
Name[oc]=Galician
Name[or]=ଗାଲିସେନ
Name[pa]=ਗਲੀਸੀਆਈ
Name[pl]=Galicyjski
Name[ps]=ګېلېشين
Name[pt]=Galego
Name[pt_BR]=Galego
Name[ro]=Galică
Name[ru]=Галисийский
Name[se]=Gálisagiella
Name[si]=ගලිසියන්
Name[sk]=Galícijčina
Name[sl]=Galicijščina
Name[sr]=галицијски
Name[sr@ijekavian]=галицијски
Name[sr@ijekavianlatin]=galicijski
Name[sr@latin]=galicijski
Name[sv]=Galiziska
Name[ta]=கலீசியன்
Name[te]=గెలిసియన్
Name[tg]=Галлӣ
Name[th]=ภาษาแกลิเชียน
Name[tr]=Galiçyaca
Name[tt]=Галисия
Name[ug]=گالىتسىيانچە
Name[uk]=Галісійська
Name[uz]=Galisiyacha
Name[uz@cyrillic]=Галисияча
Name[vi]=Tiếng Galicia
Name[wa]=Galicyin
Name[xh]=Galician
Name[x-test]=xxGalicianxx
Name[zh_CN]=加利西亚语
Name[zh_HK]=加里西亞語
Name[zh_TW]=加利西亞語
