
@page {
    size: A4;
}

body {
    font-size: 10pt;
}

/*
 * Override colour -> black and white
 */
/*body {*/
    /*color: black;*/
/*}*/

/*h1, h2, h3, h4, h5 {*/
    /*color: black;*/
/*}*/

/*a {*/
    /*color: black;*/
/*}*/

/*
 * Book title page
 */

.titlepage h1.title {
    font-size: 360%;
}

.book > .titlepage div.title {
    padding-top: 12em;
    padding-bottom: 12em;
}

.toc {
    page-break-before: always;
}

.toc * {
    line-height: 120%;
}

/**
 * Chapter and Appendix title page
 */

.chapter {
    page-break-before: always;
}

.appendix {
    page-break-before: always;
}

.chapter > .titlepage h1 {
    font-size: 240%;
    text-align: right;
}

.chapter > .titlepage h2 {
    font-size: 400%;
    text-align: right;
}

.chapter > .titlepage {
    margin-bottom: 4em;
}

.appendix > .titlepage h1 {
    font-size: 240%;
    text-align: right;
}

.appendix > .titlepage h2 {
    font-size: 400%;
    text-align: right;
}

.appendix > .titlepage {
    margin-bottom: 4em;
}

.section .titlepage {
    page-break-after: avoid;
}

p {
    text-align: justify;
}

/**
 * Examples
 */

.example .title {
    text-align: left;
    white-space: nowrap;
}

.example {
    page-break-inside: avoid;
}

.programlisting {
    page-break-inside: avoid;
    font-size: 90%;
}

.screen {
    page-break-inside: avoid;
    font-size: 90%;
}
