html {
    margin: 0;
}

body {
    font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans','Geneva','Verdana',sans-serif;
    color: #555555;
    background-color: white;
    font-size: 11pt;
    line-height: 150%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

div {
    margin: 0;
    padding: 0;
}

a {
    color: #444444;
    text-decoration: none;
    border-bottom: dotted 1px;
    outline: none;
}

a:visited {
    color: #444444;
}

h1, h2, h3, h4, h5 {
    color: #6a915e;
    line-height: 150%;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 110%;
}

.chapter h1 {
    margin-bottom: 1.0em;
}

.appendix h1 {
    margin-bottom: 1.0em;
}

.section h2 {
    font-size: 130%;
    margin-top: 1.4em;
}

.variablelist dt {
    font-weight: bold;
}

pre {
    background-color: #f5f5f5;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-family: Courier, monospace;
    line-height: 120%;
}

.programlisting {
    border-left: solid #d0d0d0 0.5em;
    /*overflow-x: auto;*/
}

.screen {
    border-left: solid #d0d0d0 0.5em;
    /*overflow-x: auto;*/
}

.example, .figure, .table {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.example .title {
    white-space: nowrap;
    /*overflow-x: hidden;*/
    margin-top: 0;
    margin-bottom: 0.2em;
}

.figure .title {
    white-space: nowrap;
    /*overflow-x: hidden;*/
    margin-top: 0;
    margin-bottom: 0.2em;
}

.table .title {
    white-space: nowrap;
    /*overflow-x: hidden;*/
    margin-top: 0;
    margin-bottom: 0.2em;
}

.example .title .filename {
    padding-left: 1.8em;
    font-weight: normal;
    color: #a2a2a2;
}

.figure .title .filename {
    padding-left: 1.8em;
    font-weight: normal;
    color: #a2a2a2;
}

.example pre {
    margin: 0;
}

.figure pre {
    margin: 0;
}

.example-break, .figure-break {
    display: none
}

.cmdsynopsis {
    font-family: Courier, monospace;
    margin-left: 2em;
}

.table table {
    border-collapse: collapse;
    font-size: 100%;
    min-width: 50%;
    border: solid #d0d0d0 1px;
}

.table table td {
    text-align: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.table table thead td {
    font-weight: bold;
    border-bottom: solid #d0d0d0 1px;
    background-color: #f2f2f2;
}

.footnote sup {
    vertical-align: baseline;
    font-size: 100%;
}

.note, .tip {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.note {
    background: #ebf4f7;
    border: solid #c3d9e6 1px;
}

.note .title {
    color: #5283a1;
}

.tip {
    background: #FAF7F5;
    border: solid #e2d2c9 1px;
    float: right;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 25%;
}

.tip .title {
    color: #80614D;
}

/*
 * HEADER/FOOTER
 */

.navheader {
    margin-bottom: 3em;
    padding-bottom: 1em;
    width: 100%;
    border-bottom: solid #d0d0d0 0.4em;
}

.navfooter {
    margin-top: 3em;
    padding-top: 1em;
    width: 100%;
    border-top: solid #d0d0d0 0.4em;
}

.navbar {
    color: #a2a2a2;
    font-size: 90%;
    width: 100%;
    text-align: right;
}

.navbar a {
    color: #444444;
}

.navbar span {
    padding-left: .8em;
    padding-right: .8em;
}

/**
 * TITLEPAGE
 */

.book > .titlepage {
    margin-top: 6em;
    margin-bottom: 2em;
}

.titlepage h1.title {
    font-size: 260%;
}

.titlepage h2.subtitle {
    font-size: 160%;
    font-style: italic;
}

.titlepage .releaseinfo {
    color: #666666;
    font-size: 120%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.titlepage .author {
    color: #666666;
}

.titlepage .copyright {
    color: #a2a2a2;
    font-size: 90%;
}

.titlepage .legalnotice {
    color: #a2a2a2;
    font-size: 90%;
}

.toc dl {
    margin-top: 0;
    margin-bottom: 0;
}

.toc > dl > dt {
    margin-top: 0.6em;
}

/*
 * Single page html
 */
.book .chapter {
    margin-top: 4em;
}
