
body {
    font-family: 'Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
    color: #666666;
    font-size: 11pt;
    line-height: 150%;
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 4em;
}

a {
    color: #444444;
}

a:visited {
    color: #444444;
}

h1, h2, h3, h4, h5 {
    color: #6a915e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 110%;
}

.section h2 {
    font-size: 130%;
    margin-top: 1.4em;
}

.variablelist dt {
    font-weight: bold;
}

pre {
    background-color: #f2f2f2;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-family: Courier, monospace;
    line-height: 120%;
    /*font-size: 90%;*/
}
.programlisting {
    border-left: solid #a2a2a2 5px;
}

.screen {
    border-left: solid #a2a2a2 5px;
}

.example-break {
    display: none
}

.chapter .toc {
    /*float: right;*/
}

.chapter table {
    border-collapse: collapse;
    font-size: 100%;
    border: solid #d0d0d0 1px;
}

.chapter table td {
    /*border: solid #d0d0d0 1px;*/
    text-align: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.chapter table thead td {
    font-weight: bold;
    border-bottom: solid #d0d0d0 1px;
    background-color: #f2f2f2;
}

.footnote sup {
    vertical-align: baseline;
    font-size: 100%;
}

/*
 * HEADER/FOOTER
 */

.navheader {
    margin-bottom: 3em;
    padding-bottom: 1em;
    width: 100%;
    border-bottom: solid #c2c2c2 5px;
}

.navfooter {
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    border-top: solid #c2c2c2 5px;
}

.navbar {
    color: #a2a2a2;
    font-size: 90%;
    width: 100%;
    text-align: right;
}

.navbar a {
    color: #a2a2a2;
}

.navbar span {
    padding-left: .8em;
    padding-right: .8em;
}

/*
 * TITLEPAGE
 */

.book > .titlepage {
    /*padding-bottom: 2em;*/
    margin-top: 2em;
    margin-bottom: 2em;
}

.book .titlepage div.title {
    /*padding-top: 1.6em;*/
    /*padding-bottom: 1.6em;*/
    /*border-top: solid #c2c2c2 5px;*/
    /*border-bottom: solid #c2c2c2 5px;*/
    /*text-align: right;*/
}

.book > .titlepage h1 {
    font-size: 240%;
}

.book > .titlepage h2 {
    font-size: 160%;
}

.book > .titlepage h3 {
    color: inherit;
}

.titlepage .releaseinfo {
    font-size: 120%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.titlepage .copyright {
    color: #a2a2a2;
    font-size: 90%;
}

.titlepage .legalnotice {
    color: #a2a2a2;
    font-size: 90%;
}

.toc dl {
    margin-top: 0;
    margin-bottom: 0;
}

/*
 * Single page html
 */
.book .chapter {
    margin-top: 4em;
}
