/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; line-height: 1;color: #007042;}
h1 {font-size:4em;}
h2 {font-size:2.2em;}
h3 {font-size:1.5em;}
h4 {font-size:1.3em;}
h5 {font-size:1.1em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
/*pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}*/
li ul, li ol {margin:0;}
ul, ol {padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:normal;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

::selection {
    background-color: #DDF0DD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('data:font/opentype;base64,@lato-regular@') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('data:font/opentype;base64,@lato-regular-italic@') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('data:font/opentype;base64,@lato-bold@') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('data:font/opentype;base64,@lato-bold-italic@') format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url('data:font/opentype;base64,@ubuntumono-bold@') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('data:font/opentype;base64,@ubuntumono-regular@') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'), url('data:font/opentype;base64,@ubuntumono-bold-italic@') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url('data:font/opentype;base64,@ubuntumono-regular-italic@') format('woff');
}

body {
  font-size: 14px;
  font-family: 'Lato', Arial, serif;
  margin: 28px 28px 14px;
  color: #333;
  background: url('data:image/gif;base64,@gradle-logo_25o.gif@') no-repeat right top;
}

p, ol, ul {
  margin: 0 0 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 14px
}

h2, h3, h4, h5, h6 {
  margin-top: 22px;
}

.text-container,
div.book,
div.chapter {
  margin-left: 10px;
  margin-right: 10px;
}

.text-container h1, .text-container h2, .text-container h3, .text-container h4, .text-container h5,
div.book h1, div.book h2, div.book h3, div.book h4, div.book h5,
div.chapter h1, div.chapter h2, div.chapter h3, div.chapter h4, div.chapter h5 {
  margin-left: -10px;
}

code, tt, pre {
  font-family: "Ubuntu Mono", courier, monospace;
}

h1, h2 {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

h5, h6 {
 color: #666;
}

h1 {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28)
}

h3.releaseinfo {
   color: #666666;
   padding-top: 0;
}

a {
    color: #007042;
    text-decoration: none;
}
a:visited {
    color: #007042;
}
a:hover {
    color: #007042;
    border-bottom: 1px dotted #007042;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0;
}

table {
    border-collapse: collapse;
    font-size: 100%;
    min-width: 50%;
    border: solid #d0d0d0 1px;
}

table td {
    text-align: left;
    vertical-align: text-top;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

table thead td, table th {
    font-weight: bold;
    border-bottom: solid #d0d0d0 1px;
    background-color: #f2f2f2;
}

table th.border-right {
    border-right: solid #d0d0d0 1px;
}

table th.no-border-bottom {
    border-bottom: none;
}

pre {
  border: 1px solid #B3B3B3;
  border-radius: 6px;
  padding: 0.8em;
  line-height: 1.3;
}

pre.code, pre.programlisting {
  background-color: #3F3F3F;
  color: white
}

pre.screen, pre.tt {
    color: black;
    background-color: white;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background: #F7F7F7;
}

li em, p em {
  padding: 0 1px 0 1px;
  text-decoration: underline;
}

code em, tt em {
  text-decoration: none;
}