.variablelist dt {
    font-weight: bold;
}

.variablelist dt a {
    font-weight: normal;
}

.itemizedlist li p {
    margin-top: 0;
    margin-bottom: 0.625em;
}

.example, .figure, .table {
    margin-top: 0;
    margin-bottom: 1.8em;
}

.example .title, .figure .title, .table .title {
    white-space: nowrap;
    /*overflow-x: hidden;*/
    margin-top: 0;
    margin-bottom: 0.6em;
}

.example pre, .figure pre {
    margin: 0;
    margin-bottom: 0.6em;
}

.example-contents > p {
    display: block;
    margin: 0;
    margin-bottom: 0.2em;
}

.example-break, .figure-break {
    display: none
}

.exampleLocation {
    margin-top: 0.5em;
    padding-left: 1.7em;
    background: #FEFEDD;
    color: #777744;
    border: 1px solid #DBDBA8;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.exampleLocation .emphasis em {
    font-style: normal;
    font-weight: bold;
}

.cmdsynopsis {
    font-family: "Ubuntu Mono", courier, monospace;
    margin-left: 2em;
}

.appendix h1 {
    margin-bottom: 1.0em;
}

.footnote sup {
    vertical-align: baseline;
    font-size: 100%;
}

.note p:first-child, .tip p:first-child {
    margin-top: 0;
}

.note > :last-child, .tip > :last-child, .examplelocation > :last-child {
    margin-bottom: 0;
}

.note, .tip {
    border-left: 1px solid #ddddd8;
    color: rgba(0,0,0,0.6);
    margin: 0 0 1.5em 1.25em;
    padding-left: 1.125em;
    padding-right: 1.25em;
}

.note p:first-child:before {
    content: "Note: ";
    font-weight: bold;
}

.tip p:first-child:before {
    content: "Tip: ";
    font-weight: bold;
}

.note .title, .tip .title {
    margin-left: 0px;
}

.tip h1, .note h1
.tip h2, .note h2,
.tip h3, .note h3,
.tip h4, .note h4,
.tip h5, .note h5,
.tip h6, .note h6 {
   margin-top: 0;
}

.literal, .userinput, .filename {
    white-space: nowrap;
}

/*
 * Code highlighting
 */
.hl-string, .hl-number, .hl-value { color: #d14; }

.hl-keyword { color: #963; }

.hl-comment, .hl-doccomment { color: #998; }

.hl-annotation { color: #007; }

.hl-directive { color: #555; }
