
.caution {
  font-size: 15px;
  color: #AF5252;
  background-color: pink;
  font-style: italic;
  border-radius: 3px;
  display: inline-block;
  padding: 0px 5px;
  margin-bottom: 8px;
}

.caution :last-child {
  margin-bottom: 0;
}

table .caution {
  float: left;
  font-size: 13px;
  margin-right: 6px;
  margin-top: 2px;
  margin-bottom: 0px;
  text-transform: lowercase;
}

.sidebar {
    margin-top: 2em;
    margin-left: 1.8em;
    margin-right: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 15em;
}

.content {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
    position: absolute;
    top: 0;
    left: 14.6em;
}

.sidebar ul {
    padding-left: 0;
    padding-right: 0;
}

.sidebar li {
    list-style: none;
}

.sidebar li.sidebarHeading {
    margin-top: 1.4em;
    margin-bottom: 0.4em;
    font-weight: bold;
    color: #505050;
    font-size: 16px
}

.sidebar li.selected {
    font-weight: bold;
    font-size: 110%;
    color: #5283a1;
    /*color: #505050;*/
    background-color: #ebf4f7;
    border: solid #c3d9e6 1px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-left: -0.7em;
    padding-left: 0.7em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.sidebar ul.sections {
    padding-left: 1em;
}

.segmentedlist {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.segmentedlist table, .table table {
    border: solid #d0d0d0 1px;
    border-collapse: collapse;
    margin-left: -10px;
    margin-right: -10px;
}

.segmentedlist th {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: #505050;
}

.segmentedlist td {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.segmentedlist dt {
    font-weight: bold;
}

.signature {
    background-color: #f5f5f5;
    border: solid #e7e7e7 1px;
    color: #666666;
    width: auto;
    margin-right: -0.8em;
    padding-right: 0.8em;
    margin-left: -0.8em;
    padding-left: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: "Ubuntu Mono", courier, monospace;
    text-shadow: none;
}

.signature .literal {
    color: #04598D;
    padding-left: 0.1em;
}

.content tbody p {
    margin: 0;
}

div.chapter h5 {
    margin-left: 0px;
}
