/*
 * Table of Contents
 */

.toc dl, .list-of-examples dl {
    margin-left: 0;
}

.book .toc > dl > dt {
    margin-top: 0.6em;
}

.book .toc > dl > dt > .part {
    display: inline-block;
    font-size: 1.25em;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
}

.book .toc > dl > dd {
    margin-left: 0;
}

.book .toc, .book .list-of-examples {
    margin-top: 1.5em;
}

div.toc p { /* Is "Table Of Contents" header */
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.chapter > .toc {
    margin-bottom: 1em;
}

.toc a {
    color: #02303A;
}

/*
 * HEADER/FOOTER
 */

.navheader {
    display: none;
}

.navfooter {
    margin-top: 3em;
    padding: 1em 0;
    width: 100%;
    border-top: 1px solid #d0d0d0;
}

.navbar {
    color: #a2a2a2;
    font-size: 90%;
    width: 100%;
    text-align: center;
}

.navbar a {
    color: #444444;
}

.navbar span {
    padding-left: .8em;
    padding-right: .8em;
}

/**
 * TITLEPAGE
 */

.titlepage .author {
    color: #666666;
}

.titlepage p {
    margin: 0;
}

/*
 * Single page html
 */
.book .chapter {
    margin-top: 4em;
}

.toc .chapter {
    padding-top: 0;
}

div.example code.filename {
  font-weight: bold;
}

/* Clickable links on section headers */
h2 > a.section-anchor, h3 > a.section-anchor, h4 > a.section-anchor {
    background-image: url("icon-link.svg");
    background-repeat: no-repeat;
    background-position: 0em 105%;  /* 105% works well for published docs */
    background-size: 0.9em;
    display: inline-block;
    text-decoration: none !important;
    width: 0.9em;
    height: 0.9em;
    margin-left: -0.9em;
    visibility: hidden;
}

/* This is a similar approach to the one immediately
   above, but using a Unicode character rather than
   an SVG image. It's the approach currently taken by
   Asciidoctor.

   I'm leaving it here in case someone wants to switch
   back to using a character rather than an image.

h2 > a:before, h3 > a:before, h4 > a:before {
    content: "\00A7";
    display: inline-block;
    font-size: 90%;
}
*/

h2:hover > a.section-anchor, h2 > a.section-anchor:hover,
h3:hover > a.section-anchor, h3 > a.section-anchor:hover,
h4:hover > a.section-anchor, h4 > a.section-anchor:hover {
    border: inherit;
    visibility: visible;
}
