/*
 * Table of Contents
 */

.toc dl, .list-of-examples dl {
    margin-top: 0;
    margin-bottom: 0;
}

.book .toc > dl > dt {
    margin-top: 0.6em;
}

.book .toc, .book .list-of-examples {
    margin-top: 1.5em;
}

div.toc p { /* Is "Table Of Contents" header */
    font-size: 28px;
    color: #007042;
    margin-bottom: 0.5em;
}

div.toc p b {
    font-weight: normal;
}

/*
 * HEADER/FOOTER
 */

.navheader {
    display: none;
}

.navfooter {
    margin-top: 3em;
    padding-top: 1em;
    width: 100%;
    border-top: solid #d0d0d0 0.4em;
}

.navbar {
    color: #a2a2a2;
    font-size: 90%;
    width: 100%;
    text-align: center;
}

.navbar a {
    color: #444444;
}

.navbar span {
    padding-left: .8em;
    padding-right: .8em;
}

/**
 * TITLEPAGE
 */

.titlepage .author {
    color: #666666;
}

.titlepage .copyright {
    color: #a2a2a2;
}

.titlepage .legalnotice {
    color: #a2a2a2;
}

.titlepage p {
    margin: 0;
}

/*
 * Single page html
 */
.book .chapter {
    margin-top: 4em;
}

div.example code.filename {
  font-weight: bold;
}