* Build, bundle and run the application

== Next steps

To learn more about how you can further customize ${language.raw} application projects, check out the user manual chapter on
link:{userManualPath}/building_${languageLC.raw}_projects.html[Building ${language.raw} projects].
