/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
/*pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}*/
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('data:font/opentype;base64,@regular-font-base64@') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('data:font/opentype;base64,@bold-font-base64@') format('woff');
}

body { 
  font-size: 16px; 
  font-family: 'Lato', Arial, serif;
  margin: 2em 2em 1em;
  color: #333;
}

h1,h2,h3,h4 {
  color: #007042;
}

a { color: #007042; }
a:visited { color: #007042; }
a:hover { color: #007042; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

a.anchor {
  text-decoration: none;
}

img.logo {
  margin-bottom: 1em;
}

section.major-detail {
  margin: 0 1em 2em;
  padding: 1em 1em 0;
  border-left: 2px solid #999;
  font-size: 15px;
  border: 1px dotted #999;
  background-color: #FCFCFC;
  border-radius: 5px;
}

section.minor-detail {
  margin: 0 0.5em;
  padding: 0 1em;
}

ul.toc-sub {
  margin-bottom: 0px;
}

button.display-toggle {
  cursor: pointer;
}

section.footer {
  font-size: 75%;
  margin: 6em 0 0;
  padding-top: 1em;
  border-top: 1px dashed #999;
  text-align: center;
}

pre {
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  padding: 0.5em;
  line-height: 1.4;
  margin-left: 1em;
  margin-right: 1em;
}

pre.code {
  background-color: white;
}

pre.tt {
  background-color: #333;
  color: white;
}

code, tt {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 80%;
}

.java_keyword {
  color: #708;
}
.java_comment {
  color: #A70;
}
.java_plain, .java_type {
  color: black;
}
.java_separator {
  color: #666;
}
.java_operator {
  color: #A22;
}
.java_literal {
  color: #281;
}