[KCM Locale]
Name=Basque
Name[af]=Basque
Name[ar]=الباسكيّة
Name[as]=বাস্ক
Name[az]=Basq dilində
Name[be]=Басконская
Name[be@latin]=Baskonskaja
Name[bg]=Баскийски
Name[bn]=বাস্ক
Name[bn_IN]=বাস্ক
Name[br]=Euskareg
Name[bs]=baskijski
Name[ca]=Basc
Name[ca@valencia]=Basc
Name[cs]=Baskický
Name[csb]=Baskijsczi
Name[cy]=Basceg
Name[da]=Baskisk
Name[de]=Baskisch
Name[el]=Βασκικά
Name[en_GB]=Basque
Name[eo]=Eŭska
Name[es]=Euskera
Name[et]=Baski
Name[eu]=Euskara
Name[fa]=باسکی
Name[fi]=Baski
Name[fr]=Basque
Name[fy]=Baskysk
Name[ga]=Bascais
Name[gd]=Basgais
Name[gl]=Éuscaro
Name[gu]=બાસ્ક
Name[he]=בסקית
Name[hi]=बास्क
Name[hne]=बास्क
Name[hr]=Baskijski
Name[hsb]=Baskisce
Name[hu]=Baszk
Name[ia]=Basco 
Name[id]=Basque
Name[is]=Baskneska
Name[it]=Basco
Name[ja]=バスク語
Name[ka]=ბასკური
Name[kk]=Баскша
Name[km]=បាស្ក
Name[kn]=ಬಾಸ್ಕ್
Name[ko]=바스크어
Name[ku]=Baskî
Name[lb]=Baskesch
Name[lt]=Baskų
Name[lv]=Basku
Name[mai]=बास्क
Name[mk]=Баскиски
Name[mr]=बास्क
Name[ms]=Basque
Name[nb]=Baskisk
Name[nds]=Basksch
Name[ne]=बास्क
Name[nl]=Baskisch
Name[nn]=Baskisk
Name[oc]=Basc
Name[or]=ବସ୍କ
Name[pa]=ਬਸਕਿਉ
Name[pl]=Baskijski
Name[ps]=بېسک
Name[pt]=Basco
Name[pt_BR]=Basco
Name[ro]=Bască
Name[ru]=Баскский
Name[se]=Baskagiella
Name[si]=බැස්ක්
Name[sk]=Baskičtina
Name[sl]=Baskovščina
Name[sq]=Baske
Name[sr]=баскијски
Name[sr@ijekavian]=баскијски
Name[sr@ijekavianlatin]=baskijski
Name[sr@latin]=baskijski
Name[sv]=Baskiska
Name[ta]=பாஸ்க்கு
Name[te]=బాస్క్
Name[tg]=Баскӣ
Name[th]=ภาษาบาสก์
Name[tr]=Baskça
Name[tt]=Баск
Name[ug]=باسكىچە
Name[uk]=Баскська
Name[uz]=Baskcha
Name[uz@cyrillic]=Баскча
Name[vi]=Tiếng Basque
Name[wa]=Basse
Name[xh]=Basque
Name[x-test]=xxBasquexx
Name[zh_CN]=巴斯克语
Name[zh_HK]=巴斯克語
Name[zh_TW]=巴斯克語
