[KCM Locale]
Name=Czech
Name[af]=Tsjeggië
Name[ar]=التّشيكيّة
Name[as]=চেক্‌
Name[az]=Çex dilində
Name[be]=Чэшская
Name[be@latin]=Češskaja
Name[bg]=Чешки
Name[bn]=চেক
Name[bn_IN]=চেক
Name[br]=Tchekeg
Name[bs]=češki
Name[ca]=Txec
Name[ca@valencia]=Txec
Name[cs]=Český
Name[csb]=Czesczi
Name[cy]=Tsiec
Name[da]=Tjekkisk
Name[de]=Tschechisch
Name[el]=Τσέχικα
Name[en_GB]=Czech
Name[eo]=Ĉeĥa
Name[es]=Checo
Name[et]=Tšehhi
Name[eu]=Txekiera
Name[fa]=چکسلواکی
Name[fi]=Tšekki
Name[fr]=Tchèque
Name[fy]=Tsjechysk
Name[ga]=Seicis
Name[gd]=Seacais
Name[gl]=Checo
Name[gu]=ચેક
Name[he]=צ'כית
Name[hi]=चेक
Name[hne]=चेक
Name[hr]=Češki
Name[hsb]=Čěsce
Name[hu]=Cseh
Name[ia]=Tchech 
Name[id]=Ceko
Name[is]=Tékkneska
Name[it]=Ceco
Name[ja]=チェコ語
Name[ka]=ჩეხური
Name[kk]=Чехше
Name[km]=ឆេក
Name[kn]=ಚೆಕ್
Name[ko]=체코어
Name[ku]=Çekî
Name[lb]=Tschechesch
Name[lt]=Čekų
Name[lv]=Čehu
Name[mai]=चेक
Name[mk]=Чешки
Name[ml]=ചെക്ക്
Name[mr]=चेक
Name[ms]=Czech
Name[nb]=Tsjekkisk
Name[nds]=Tschechsch
Name[ne]=चेक
Name[nl]=Tsjechisch
Name[nn]=Tsjekkisk
Name[oc]=Chèc
Name[or]=ଚେକ
Name[pa]=ਚੈੱਕ
Name[pl]=Czeski
Name[ps]=چېک
Name[pt]=Checo
Name[pt_BR]=Tcheco
Name[ro]=Cehă
Name[ru]=Чешский
Name[se]=Čehkagiella
Name[si]=චෙච්
Name[sk]=Čeština
Name[sl]=Češčina
Name[sq]=Çekisht
Name[sr]=чешки
Name[sr@ijekavian]=чешки
Name[sr@ijekavianlatin]=češki
Name[sr@latin]=češki
Name[sv]=Tjeckiska
Name[ta]=செக்
Name[te]=చెక్
Name[tg]=Чехӣ
Name[th]=ภาษาเชค
Name[tr]=Çekçe
Name[tt]=Чех
Name[ug]=چېخچە
Name[uk]=Чеська
Name[uz]=Chexcha
Name[uz@cyrillic]=Чехча
Name[vi]=Tiếng Séc
Name[wa]=Tcheke
Name[xh]=Czech
Name[x-test]=xxCzechxx
Name[zh_CN]=捷克语
Name[zh_HK]=捷克語
Name[zh_TW]=捷克語
