name: Close linked issues when PR merged into release

on:
  pull_request:
    types: [closed]
    branches:
      - release
      - release7x
      - release8x

permissions:
  issues: write

jobs:
  closeIssueOnPrMerge:
    runs-on: ubuntu-latest
    steps:
      - name: Closes issues related to a merged pull request.
        uses: ldez/gha-mjolnir@df0e84242364946fa3ad4e7556510e8086ad681a
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
