name: Submit Dependency Graph
on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions: {}

jobs:
  generate-and-submit:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 11
    - name: Setup Gradle
      uses: gradle/actions/dependency-submission@v3
      with:
        # Action runs a custom dependencies task that fails with config-cache on Gradle 8.7 (works with 8.6)
        additional-arguments: --no-configuration-cache
      env:
        # Exclude some projects and configurations that should not contribute to the dependency graph
        DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: ':docs|:internal-performance-testing|:enterprise-plugin-performance|:performance|:internal-integ-testing'
        DEPENDENCY_GRAPH_EXCLUDE_CONFIGURATIONS: 'ktlint|checkstyle|.*[Tt]est(Compile|Runtime)Classpath|.*[Tt]estImplementationDependenciesMetadata|.*[Tt]estFixtures(Compile|Runtime)Classpath|.*[Tt]estFixturesImplementationDependenciesMetadata'
