name: Submit Dependency Graph
on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions: {}

jobs:
  generate-and-submit:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      uses: gradle/actions/dependency-submission@v5
      env:
        # Exclude some projects and configurations that should not contribute to the dependency graph
        DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: ':docs|:internal-performance-testing|:enterprise-plugin-performance|:performance|:internal-integ-testing'
        DEPENDENCY_GRAPH_EXCLUDE_CONFIGURATIONS: 'ktlint|checkstyle|.*[Tt]est(Compile|Runtime)Classpath|.*[Tt]estImplementationDependenciesMetadata|.*[Tt]estFixtures(Compile|Runtime)Classpath|.*[Tt]estFixturesImplementationDependenciesMetadata'
