name: Update jdks.yaml

on:
  workflow_dispatch: # Allows manual triggering of the action
  schedule: # Runs the action weekly on Monday at 3:42 UTC
    - cron: '42 3 * * 1'

permissions:
  contents: write
  pull-requests: write

jobs:
  update-jdks:
    if: github.repository == 'gradle/gradle'
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Update jdks.yaml
        uses: gradle/update-jdks-action@main
      - name: Add verification comment
        # https://github.com/gradle/gradle-private/issues/4518
        run: |
          cat << 'EOF' > .teamcity/jdks.yaml.tmp
          # To verify the change, run the build with:
          # @bot-gradle test ReadyForNightly
          # ```
          # stopGradleDaemons=true
          # ```
          EOF
          # Append everything from "version:" onwards
          sed -n '/^version:/,$p' .teamcity/jdks.yaml >> .teamcity/jdks.yaml.tmp
          mv .teamcity/jdks.yaml.tmp .teamcity/jdks.yaml
      - name: Create Pull Request
        id: create-pull-request
        uses: peter-evans/create-pull-request@v7
        with:
          signoff: true
          sign-commits: true
          commit-message: "Update jdks.yaml"
          add-paths: .teamcity/jdks.yaml
          title: "Update jdks.yaml"
          body: "This PR updates JDK to the latest versions available in `.teamcity/jdks.yaml`."
          delete-branch: true
          branch-suffix: timestamp
          labels: |
            in:building-gradle
            @dev-productivity
      - name: Trigger a build
        uses: peter-evans/create-or-update-comment@v4
        if: ${{ steps.create-pull-request.outputs.pull-request-number }}
        with:
          issue-number: ${{ steps.create-pull-request.outputs.pull-request-number }}
          body: |
            @bot-gradle test ReadyForNightly
            ```
            stopGradleDaemons=true
            ```
