[KCM Locale]
Name=Catalan (Valencian)
Name[ar]=الكاتلونيّة(البلنسيّة)
Name[az]=Katalon (Valensiya) dilində
Name[be]=Каталанская (Валенсія)
Name[be@latin]=Katalanskaja (Valiensija)
Name[bg]=Каталонски (Валенсиански)
Name[bs]=katalonski (valensijski)
Name[ca]=Català (Valencià)
Name[ca@valencia]=Català (Valencià)
Name[cs]=Katalánský (Valencie)
Name[da]=Catalansk (valenciansk)
Name[de]=Katalanisch (Valencianisch)
Name[el]=Καταλανικά (Βαλένθια)
Name[en_GB]=Catalan (Valencian)
Name[eo]=Kataluna (Valencio)
Name[es]=Catalán (Valenciano)
Name[et]=Katalaani (valencia)
Name[eu]=Katalana (valentziera)
Name[fa]=کاتالان (والنسیایی)
Name[fi]=Katalaani (Valencia)
Name[fr]=Catalan (Valencien)
Name[ga]=Catalóinis (Vaileinsis)
Name[gd]=Catalanais (Valencianais)
Name[gl]=Catalán (valenciano)
Name[gu]=કેટેલાન (વેલેન્સિઅન)
Name[he]=קטלאנית (Valencian)
Name[hi]=केटेलन (वेलेन्सियन)
Name[hr]=Katalonski (Valencijski)
Name[hu]=Katalán (valenciai)
Name[ia]=Catalan (Valencian) 
Name[id]=Catalan (Valencia)
Name[is]=Katalónska (Valensía)
Name[it]=Catalano (Valenziano)
Name[ja]=カタロニア語 (バレンシア方言)
Name[ka]=კატალანური (ვალენსიური)
Name[kk]=Каталанша (Валенсияша)
Name[km]=កាតាឡាំ (វ៉ាឡេន​ស្សង់)
Name[ko]=카탈루냐어(발렌시아)
Name[ku]=Katalan (Valensî)
Name[lt]=Katalonų (Valencijos)
Name[lv]=Kataloņu (Valensijas)
Name[mk]=Каталонски (валенсиски)
Name[mr]=केटेलन (व्हेलन्सिअन)
Name[nb]=Katalansk (Valenciansk)
Name[nds]=Katalaansch (valenziaansch)
Name[nl]=Catalaans (Valentiaans)
Name[nn]=Katalansk (Valencia)
Name[pa]=ਕਾਟਾਲਾਨ (ਵਾਲਿਸੀਅਨ)
Name[pl]=Kataloński (walencki)
Name[pt]=Catalão (Valenciano)
Name[pt_BR]=Catalão (valenciano)
Name[ro]=Catalană (Valenciană)
Name[ru]=Каталонский (Валенсия)
Name[se]=Kataluniagiella (Valensalaš)
Name[sk]=Katalánčina (Valencia)
Name[sl]=Valencijanščina
Name[sq]=Katalanisht (Valenciane) 
Name[sr]=каталонски (валенсијски)
Name[sr@ijekavian]=каталонски (валенсијски)
Name[sr@ijekavianlatin]=katalonski (valensijski)
Name[sr@latin]=katalonski (valensijski)
Name[sv]=Katalanska (valenciska)
Name[ta]=கெடலான் (வேலன்சீயன்)
Name[tg]=Каталанӣ (Валенсӣ)
Name[th]=ภาษาคาตะลาน (วาเลนเซีย)
Name[tr]=Katalanca (Valensiya)
Name[tt]=Каталан (Валенсия)
Name[ug]=كاتالانچە(ۋالىنسىيە)
Name[uk]=Каталонська (валенсійський діалект)
Name[vi]=Tiếng Catalan (Valencia)
Name[wa]=Catalan (Valince)
Name[x-test]=xxCatalan (Valencian)xx
Name[zh_CN]=加泰罗尼亚语 (巴伦西亚)
Name[zh_TW]=加泰羅尼亞語（瓦倫西亞）

